{% extends "common/common.html" %}
    {% block page-inner %}
        <div class="panel">
                <div class="panel-heading">
                    <h3>关联云平台</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>对应云平台名称</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">

                        {% if is_superuser %}
                            {% if userCloudSets %}
                                {% for userCloudSet in userCloudSets %}
                                         <tr>
                                            <td>{{ userObj.username }}</td>
                                            <td>{{ userCloudSet.cloudName }}</td>
                                         </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>{{ userObj.username }}</td>
                                        <td>该用户下没有可管理的云平台</td>
                                    </tr>
                                {% endif %}
                        {% else %}
                            <th>暂无权限查看用户列表，请联系超级用户</th>
                        {% endif %}
                        </tbody>
                    </table>
                    <a style="margin: 20px 0 20px 20px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                </div>
        </div>

    <script>
        function selectCloud(){
            var cloud_id = $('#cloud_info option:selected').val();
            window.location.href = "/adminbd?cloud_id="+cloud_id;
        }
        var page=true;
           if(page){
               $("#index_Icon").css('color','red');
        }
    </script>
    {% endblock %}