<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>License管理平台</title>
    <link rel="shortcut icon" href="../../static/images/titleBD.ico" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../../static/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="../../static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../../static/assets/js/Lightweight-Chart/cssCharts.css">

</head>
<body style="position: relative">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" style="background:#1f2837" href="/adminbd/index.html">
                <img src="../../static/images/logo-w.png" />
            </a>
            <div id="sideNav" class="" href="">
                <i class="material-icons dp48">toc</i>
            </div>

            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-left">
                <li>
                    <a href="/adminbd/index.html" style="padding-top: 20px;">
                       <b style="font-size:15px"> License管理平台</b>
                    </a>
                </li>
            </ul>
            <   <ul class="nav navbar-nav navbar-right">
                {% if is_superuser %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-download fa-fw"></i>
                              <b>下载</b>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a style="padding:21px 0 0 15px " href="/adminbd/download_license_client_file">License客户端文件</a></li>
                            <li><a style="padding:21px 0 15px 15px" href="/adminbd/download_license_usage_file">License帮助文档</a></li>

                        </ul>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <b>{{ username }}</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="padding:21px 0 0 15px" href="/adminbd/modify_password"><i class="fa fa-gear fa-fw"></i>修改密码</a></li>
                        <li><a style="padding:21px 0 15px 15px" href="/adminbd/license_logout"><i class="fa fa-sign-out fa-fw"></i>退出</a></li>
                    </ul>
                </li>
           </ul>
        </div>
    </nav>
    <!-- Dropdown Structure -->
   <!--/. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation" style="height: 85%;">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                  <li>
                    <a class="waves-effect waves-dark" href="/adminbd/license_yun.html"><i class="fa fa-indent"></i> 云平台列表</a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/adminbd/index.html"><i class="fa fa-dashboard"></i> License列表</a>
                </li>
                <li>
                    <a class="active-menu waves-effect waves-dark" href="/adminbd/user_list.html"><i class="fa fa-user"></i> 用户列表</a>
                </li>
            </ul>
             <ul class="copyright" style="position: absolute;left: 0;bottom: 20px;z-index:100;">
                <li style="font-size: 12px;">
                    上海博达通信数据有限公司版权所有©2017
                </li>
            </ul>

        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" class="page-wrapper">
       <div class="header" style="opacity: 0;padding-bottom:7px;"></div>
       <div class="header" style="display: none; background:#fff; padding-bottom:20px;padding-top:30px;">
                     <div style="height:115px;">
                         <div class="col-md-2" style="text-align:center"><span style="font-size:22px;">产品信息</span><span style="color:#43aea8;font-size:18px; font-weight:600;"><br/><br/>版本号</span><span style="font-size:18px; margin-left:5px;">V1.0</span></div>
                         <div class="col-md-1" style="text-align:center;"><span style="width:1px; height:70px; border-left:1px solid #eaeceb; display:block; margin:0 auto;margin-top:20px; "></span></div>
                         <div class="col-md-2" style="text-align:center"><span style="font-size:22px;">外网速度</span><span style="color:#43aea8;font-size:18px; font-weight:600;"><br/><br/>900</span><span style="color:#43aea8;font-size:14px; font-weight:600;">kb/s</span></div>
                         <div class="col-md-1" style="text-align:center;"><span style="width:1px; height:70px; border-left:1px solid #eaeceb; display:block; margin:0 auto;margin-top:20px; "></span></div>
                         <div class="col-md-2" style="text-align:center"><span style="font-size:22px;">设备</span><span style="color:#43aea8;font-size:18px; font-weight:600;"><br/><br/>900</span><span style="color:#43aea8;font-size:14px; font-weight:600;">kb/s</span></div>
                         <div class="col-md-1" style="text-align:center;"><span style="width:1px; height:70px; border-left:1px solid #eaeceb; display:block; margin:0 auto;margin-top:20px; "></span></div>
                         <div class="col-md-2" style="text-align:center"><span style="font-size:22px;">稳定运行时间</span><span style="color:#43aea8;font-size:18px; font-weight:600;"><br/><br/>900</span><span style="color:#43aea8;font-size:14px; font-weight:600;">kb/s</span></div>
                     </div>
              </div><div>
        </div>
    <div id="page-inner">
        <div class="row" style="background-color: #fff;">
            <div class="col-md-12">
                <div class="panel">
                    <div class="clearfix" style="padding-top: 13px;">
{#                    {% if is_superuser %}#}
{#                        <div class="col-sm-2 right">#}
{#                             <a href="/adminbd/add_user" class="btn  btn btn-turquoise text-right">#}
{#                                 <span class="fa fa-plus-square"></span> 添加管理员#}
{#                             </a>#}
{#                        </div>#}
{#                    {% endif %}#}
                    </div>

                    <div class="clearfix col-md-2 col-md-offset-10" style="margin-top: 13px;">

                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>对应云平台名称</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">

                        {% if is_superuser %}
                            {% if userCloudSets %}
                                {% for userCloudSet in userCloudSets %}
                                         <tr>
                                            <td>{{ userObj.username }}</td>
                                            <td>{{ userCloudSet.cloudName }}</td>
                                         </tr>
                                {% endfor %}
                                {% else %}
                                    <tr><td>该用户下没有可管理的云平台</td></tr>
                                {% endif %}
                        {% else %}
                            <th>暂无权限查看用户列表，请联系超级用户</th>
                        {% endif %}
                        </tbody>
                    </table>
                    <a style="margin: 20px 0 20px 20px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../static/js/jquery.3.2.1.js"></script>
    <script src="../../static/js/ie.js"></script>
	<!-- Bootstrap Js -->
    <script src="../../static/assets/js/bootstrap.min.js"></script>
	<script src="../../static/assets/materialize/js/materialize.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="../../static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="../../static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../../static/assets/js/morris/morris.js"></script>
	<script src="../../static/assets/js/easypiechart.js"></script>
	<script src="../../static/assets/js/easypiechart-data.js"></script>
    <script src="../../static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- Custom Js -->
    <script src="../../static/assets/js/custom-scripts.js"></script>

    <script>
        function selectCloud(){
            var cloud_id = $('#cloud_info option:selected').val();
            window.location.href = "/adminbd?cloud_id="+cloud_id;
        }
    </script>
</body>

</html>