{% extends "common/common.html" %}
    {% block page-inner %}
        <style>
            .panel-body {
                padding: 0 15px 50px;
            }
            .xzy_page{
                white-space: nowrap;
                position: absolute;
                right: 197px;
            }
            input[type=number]{
                padding: 1px;
            }
        </style>
        <div class="panel">
            <div class="panel-heading">
                <h3>license列表</h3>
                {% if is_superuser %}
                     <a href="/adminbd/add_license" class="btn  btn btn-turquoise text-right" style="float: right;margin-top:-30px">
                         <span class="fa fa-plus-square"></span>添加LICENSE
                     </a>
                {% endif %}
                <hr/>
            </div>
            <div class="panel-body res_change">
                    <div style="padding: 0;margin-bottom: 10px">
                        <select onchange="selectCloud()" class="form-control" id="cloud_info" name="cloud_info" style="width: 260px;">
                            <option value="" disabled="" selected="">选择license对应云平台</option>
                            {% for cloudInfo in cloudInfos %}
                                <option id="bao-month" value="{{ cloudInfo.id }}" {% ifequal cloud_id  cloudInfo.id %}selected{% endifequal %}>{{ cloudInfo.cloudName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <table class="table table-striped table-condensed table-hover responsive-table">
                    <thead>
                        <tr>
                            <th>云平台</th>
                            <th>是否有效</th>
                            <th>KEY_ID</th>
                            <th>功能类型</th>
                            <th>Code</th>
                            <th>状态</th>
                            <th>AP</th>
                            <th>AC</th>
                            <th>用户</th>
                            <th>购买时间</th>
                            <th>过期时间</th>
                            {% if is_superuser %}
                                <th>重置</th>
                            {% endif %}
                            {% if is_superuser and username == "root" %}
                                <th>修改</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px;">
                    {% if is_superuser %}
                        {% for license in licenses %}
                            <tr>
                            {% if  license.cloudInfo.cloudName%}
                                <td title="{{ license.cloudInfo.cloudName }}" {% comment %} style="cursor: pointer;color: #00C853;text-decoration: underline;font-weight: bold" onclick="window.location.href='/adminbd?cloud_id={{ license.cloudInfo_id }}'"{% endcomment %}>
                                    <span>
                                        {{ license.cloudInfo.cloudName }}
                                        </span>
                                    </td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                    {% if license.is_valid  == 1%}
                                        <td>有效</td>
                                    {% elif license.is_valid  == 2 %}
                                        <td>已注册</td>
                                        {% else %}
                                        <td>无效</td>
                                    {% endif %}

                                    {% if license.key_id %}
                                        <td>{{ license.key_id }}</td>
                                    {% else %}
                                        <td>暂无</td>
                                    {% endif %}
                                {% if license.licenseType == "1" %}
                                    <td>基本功能</td>
                                {% elif license.licenseType == "3" %}
                                    <td>基本+计费</td>
                                {% elif license.licenseType == "5" %}
                                    <td>基本+大数据</td>
                                {% elif license.licenseType == "7" %}
                                    <td>基本+计费+大数据</td>
                                {% endif %}
                                    <td title="{{ license.license_code }}" style="cursor: pointer;color: #00C853;text-decoration: underline;font-weight: bold" onclick="window.location.href='/adminbd/license_param?id={{ license.id }}'" >
                                        <span>
                                            {{ license.license_code }}
                                        </span>

                                    </td>
                                    {% if license.license_status == 1%}
                                        <td>已激活</td>
                                    {% else %}
                                        <td style="color: red;">
                                            未激活
                                        </td>
                                    {% endif %}
                                    <td>{{ license.maxAps }}</td>
                                    <td>{{ license.maxAcs }}</td>
                                    <td>{{ license.maxUsers }}</td>

                                    <td>{{ license.build_time }}</td>
                                    <td>{{ license.expire_time }}</td>
                                    {% if is_superuser %}
                                        <td>
                                            <button class="btn btn-sm btn-danger" {% if license.is_valid  != 2  or license.cloudInfo.cloudName  == "" %} disabled {% endif %} onclick="resetLicense({{ license.id }})" style="height: 28px;border-color: transparent">重置</button>
                                        </td>
                                    {% endif %}
                                {% if license.is_valid != 0 and username == "root"%}
                                        <td>
                                            <a class="btn btn-sm btn-danger" {% if license.cloudInfo.cloudName  == "" %} disabled {% endif %}  title="修改" href="{% url 'adminbd:edit_license' %}?id={{ license.id}}" style="height: 28px;border-color: transparent">修改</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a class="btn btn-sm btn-danger" disabled {% if license.cloudInfo.cloudName  == "" %} disabled {% endif %}  title="修改" href="{% url 'adminbd:edit_license' %}?id={{ license.id}}" style="height: 28px;border-color: transparent">修改</a>
                                        </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for lic in licenses %}
                                {% for license in lic %}
                                        <tr>
                                        {% if license.cloudInfo.cloudName %}
                                            <td title="{{ license.cloudInfo.cloudName }}">
                                                <span {% comment %} style="cursor: pointer;color: #00C853" onclick="window.location.href='/adminbd?cloud_id={{ license.cloudInfo.id }}'" {% endcomment %} >
                                                {{ license.cloudInfo.cloudName }}
                                                </span>
                                            </td>
                                        {% else %}
                                            <td>暂无</td>
                                        {% endif %}
                                        {% if license.is_valid  == 1%}
                                            <td>有效</td>
                                        {% elif license.is_valid  == 2 %}
                                            <td>已注册</td>
                                            {% else %}
                                            <td>无效</td>
                                        {% endif %}
                                        {% if license.key_id %}
                                            <td title="{{ license.key_id }}">{{ license.key_id }}</td>
                                        {% else %}
                                            <td>暂无</td>
                                        {% endif %}
                                        <td title="{{ license.license_code }}" style="cursor: pointer;color: #00C853;text-decoration: underline;font-weight: bold" onclick="window.location.href='/adminbd/license_param?id={{ license.id }}'" >
                                        <span>
                                            {{ license.license_code }}
                                        </span>

                                    </td>
                                        {% if license.license_status == 1%}
                                            <td>已激活</td>
                                        {% else %}
                                            <td>
                                                未激活
                                            </td>
                                        {% endif %}
                                        <td>{{ license.build_time }}</td>
                                        <td>{{ license.expire_time }}</td>
                                        {% if is_superuser %}
                                            <td>
                                                <button class="btn btn-sm btn-danger" {% if license.is_valid  != 2  or license.cloudInfo.cloudName  == "" %} disabled {% endif %} onclick="resetLicense({{ license.id }})" style="height: 28px;border-color: transparent">重置</button>
                                            </td>
                                        {% endif %}
                                        {% if license.is_valid != 0 and username == "root"%}
                                            <td>
                                                <a class="btn btn-sm btn-danger" disabled  {% if license.cloudInfo.cloudName  == "" %} disabled {% endif %}  title="修改" href="{% url 'adminbd:edit_license' %}?id={{ license.id}}" style="height: 28px;border-color: transparent">修改</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            <div class="xzy_page">
                <ul class="xzy_ul"></ul>
            </div>
            </div>

        </div>


    <script>
        var cloud_id = $('#cloud_info option:selected').val();
            if(cloud_id){
                $(".fa-dashboard").css('color','#f44336');
            }
        function selectCloud(){
            var cloud_id = $('#cloud_info option:selected').val();
            window.location.href = "/adminbd?cloud_id="+cloud_id;
        }

        function resetLicense(license_id){
            var btnSn = function(e){
                $.ajax({
                        url:"/adminbd/reset_license",
                        data:{license_id:license_id},
                        type:"GET",
                        success:function(data) {
                            if(data.result == 0){
                                SuccessWarning("license重置成功！",reloadPage);
                            }else{
                                ErrorWarning("license重置失败！",reloadPage);
                            }
                        },
                       error:function(){
                           ErrorWarning("服务器错误！",reloadPage);
                       }
                });
            };
            ConfirmWarning("确认","确认重置该License吗?"+
                    "</br><strong style='color:red;'>注意：重置后，原注册的云平台将不能正常运行！</strong>",btnSn);
        }
    </script>
{#    分页效果#}
<script>
    $(document).ready(function () {
        var pageNum=9;  //每页显示的tr行数
        var index=1,oldIndex;      //页码，li标签里的数值，第一个'《'和最后一个'》'不计算在内;oldIndex表示原先的index值
        var $tr_len=Math.ceil(($("tr").length-1)/pageNum);  //总页数
        $(".xzy_ul").append('<li class="pageCode home_page">'+'首页'+'</li>');
        $(".xzy_ul").append('<li class="pageCode prev">'+'<'+'</li>');
        for(var m=1;m<=$tr_len;m++){
            $(".xzy_ul").append('<li class="pageCode">'+m+'</li>');
        }
        if($tr_len>5){
            $(".pageCode").slice(7,$tr_len+2).hide();
        }
        $(".xzy_ul").append('<li class="pageCode next">'+'>'+'</li>');
        $(".xzy_ul").append('<li class="pageCode trailer_page">'+'尾页'+'</li>');
//        动态添加li标签列表、鼠标移入变色
        $(".pageCode").css({'float':'left', 'text-align':'center', 'width':'42px', 'height':'32px', 'padding':'5px', 'background':'#f7f7f7', 'color':'dodgerblue','cursor':'pointer','border':'1px solid transparent'});
        $(".pageCode").hover(function () {
            $(this).css('border','1px solid lightgray');
        },function () {
            $(this).css('border','1px solid transparent');
        });
//        点击页码数字显示内容tr
        function pageCount(pageNum) {
            $("tr:not(tr:first)").css('display','none');
            for(var i=2;i<$(".pageCode").length-2;i++){
                (function (m) {
                    $(".pageCode")[m].onclick=function () {
//                        $(document).scrollTop(0); //滚动条至顶端
                        index=parseInt(this.innerHTML);
                        xzy_skip();
                    };
                })(i);
            }
//            第一页默认显示的tr
            $("tr").slice(1,pageNum+1).css('display','block').css('display','table-row');
        }
        pageCount(pageNum);
//        页码之间跳转的共有方法及样式函数
        function xzy_skip() {
            $(document).scrollTop(0);
            $("tr:not(tr:first)").css('display','none');
            $("tr").slice(pageNum*index-pageNum+1,pageNum*index+1).css('display','block').css('display','table-row');
            $(".pageList").val(index);
//            alert($tr_len +"AA"+index)
            if(index>=($tr_len-2) && $tr_len>5){
                oldIndex=index;
                index=$tr_len-2;
                $(".pageCode").slice(2,$tr_len+1).hide();
                $(".pageCode").slice(index-1,index+4).show();
                index=oldIndex;
            }else{
                $(".pageCode").slice(2,$tr_len+2).hide();
                $(".pageCode").slice(2,7).show();
            }
            $(".pageCode").css({'color':'dodgerblue','background':'#f7f7f7'});
            $(".pageCode")[index+1].style.color='white';
            $(".pageCode")[index+1].style.background='dodgerblue';
        }
//        首页尾页、上一页下一页效果
        $(".home_page").click(function () {
            index=1;
            xzy_skip();
        });
        $(".trailer_page").click(function () {
            index=$tr_len;
            xzy_skip();
        });
        $(".prev").click(function () {
            index--;
            if(index===0){ index=1; }
            xzy_skip();
        });
        $(".next").click(function () {
            index++;
            if(index===($tr_len+1)){ index=$tr_len; }
            xzy_skip();
        });
//        添加input输入框和button按钮
        $(".xzy_page").append('<input class="pageList" type="number" placeholder="页数" style="height: 30px;width: 60px;outline: medium;padding-left: 10px;border: none;border-bottom: 1px solid dodgerblue;text-align: center;position: relative;top: -11px"/>');
        $(".xzy_page").append('<button class="pageConfig" style="height: 32px;width: 60px;border: none;outline: medium;color: dodgerblue;background:#f7f7f7;cursor:pointer;position: relative;top: -11px">'+'确认'+'</button>');
//        点击确认显示输入数字的所在页面并判断所输入值的大小
        $(".pageConfig").click(function () {
            $(document).scrollTop(0);
            index=parseInt($(".pageList").val());
            if($(".pageList").val()<1){
                index=1;
                $(".pageList").val(index);
            }else if($(".pageList").val()>$tr_len){
                index=$tr_len;
                $(".pageList").val(index);
            }
            xzy_skip();
        });
        $(".pageConfig").hover(function () {
            $(this).css({'background':'dodgerblue','color':'white'});
        },function () {
            $(this).css({'background':'#f7f7f7','color':'dodgerblue'});
        });
        $(".pageCode")[2].style.color='white';
        $(".pageCode")[2].style.background='dodgerblue';
    })
</script>
    {% endblock %}