{% extends "common/common.html" %}
<style>
    .active-menu i {
{#        color: #f44336 !important;#}
    }
</style>
    {% block page-inner %}
        <div class="panel">
                <div class="panel-heading">
                    <h3>license列表</h3>
                    {% if is_superuser %}
                         <a href="/adminbd/add_license" class="btn  btn btn-turquoise text-right" style="float: right;margin-top:-30px">
                             <span class="fa fa-plus-square"></span>添加LICENSE
                         </a>
                    {% endif %}
                    <hr/>
                </div>
                <div class="panel-body">
                        <div style="padding: 0;margin-bottom: 10px">
                            <select onchange="selectCloud()" class="form-control" id="cloud_info" name="cloud_info" style="width: 260px;">
                                <option value="" disabled="" selected="">选择license对应云平台</option>
                                {% for cloudInfo in cloudInfos %}
                                    <option id="bao-month" value="{{ cloudInfo.id }}" {% ifequal cloud_id  cloudInfo.id %}selected{% endifequal %}>{{ cloudInfo.cloudName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <table class="table table-striped table-condensed table-hover responsive-table">
                        <thead>
                            <tr>
                                <th>云平台名称</th>
                                <th>是否有效</th>
                                <th>KEY_ID</th>
{#                                <th>版本类型</th>#}
                                <th>Code</th>
                                <th>状态</th>
{#                                <th>最大AP数</th>#}
{#                                <th>最大AC数</th>#}
{#                                <th>最大用户数</th>#}
                                <th>购买时间</th>
                                <th>过期时间</th>
                                {% if is_superuser %}
                                    <th>重置license</th>
                                {% endif %}
                                {% if is_superuser and username == "root" %}
                                    <th>修改</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">
                        {% if is_superuser %}
                            {% for license in licenses %}
                                <tr>
                                {% if  license.cloudInfo.cloudName%}
                                    <td>
                                        <span style="cursor: pointer;color: #00C853"  onclick="window.location.href='/adminbd?cloud_id={{ license.cloudInfo.id }}'" >
                                            {{ license.cloudInfo.cloudName }}
                                        </span>
                                    </td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                    {% if license.is_valid  == 1%}
                                        <td>有效</td>
                                    {% elif license.is_valid  == 2 %}
                                        <td>已注册</td>
                                        {% else %}
                                        <td>无效</td>
                                    {% endif %}
                                    {% if license.key_id %}
                                        <td>{{ license.key_id }}</td>
                                    {% else %}
                                        <td>暂无</td>
                                    {% endif %}
{#                                    <td>{{ license.licenseType.discription }}</td>#}
                                    <td>
                                        <span style="cursor: pointer;color: #00C853" onclick="window.location.href='/adminbd/license_param?id={{ license.id }}'">
                                            {{ license.license_code }}
                                        </span>

                                    </td>
                                    {% if license.license_status == 1%}
                                        <td>已激活</td>
                                    {% else %}
                                        <td>
                                            未激活
                                        </td>
                                    {% endif %}
                                    <td>{{ license.build_time }}</td>
                                    <td>{{ license.expire_time }}</td>
                                    {% if is_superuser %}
                                        <td>
                                            <button class="btn btn-sm btn-danger" {% if license.is_valid  != 2 %} disabled {% endif %} onclick="resetLicense({{ license.id }})" style="height: 28px;border-color: transparent">重置</button>
                                        </td>
                                    {% endif %}
                                {% if license.is_valid != 0 and username == "root"%}
                                        <td>
                                            <a class="btn btn-sm btn-danger" {% if license.cloudInfo.cloudName  == "" %} disabled {% endif %}  title="修改" href="{% url 'adminbd:edit_license' %}?id={{ license.id}}" style="height: 28px;border-color: transparent">修改</a>
                                        </td>
                                    {% else %}
                                    <td>
                                            <a class="btn btn-sm btn-danger" disabled {% if license.cloudInfo.cloudName  == "" %} disabled {% endif %}  title="修改" href="{% url 'adminbd:edit_license' %}?id={{ license.id}}" style="height: 28px;border-color: transparent">修改</a>
                                        </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for lic in licenses %}
                                {% for license in lic %}
                                        <tr>
                                        {% if license.cloudInfo.cloudName %}
                                            <td>
                                                <span style="cursor: pointer;color: #00C853" onclick="window.location.href='/adminbd?cloud_id={{ license.cloudInfo.id }}'" >
                                                {{ license.cloudInfo.cloudName }}
                                                </span>
                                            </td>
                                        {% else %}
                                            <td>暂无</td>
                                        {% endif %}
                                        {% if license.is_valid  == 1%}
                                            <td>有效</td>
                                        {% elif license.is_valid  == 2 %}
                                            <td>已注册</td>
                                            {% else %}
                                            <td>无效</td>
                                        {% endif %}
                                        {% if license.key_id %}
                                            <td>{{ license.key_id }}</td>
                                        {% else %}
                                            <td>暂无</td>
                                        {% endif %}
                                        <td>{{ license.license_code }}</td>
                                        {% if license.license_status == 1%}
                                            <td>已激活</td>
                                        {% else %}
                                            <td>
                                                未激活
                                            </td>
                                        {% endif %}
                                        <td>{{ license.build_time }}</td>
                                        <td>{{ license.expire_time }}</td>
                                        {% if is_superuser %}
                                            <td>
                                                <button class="btn btn-sm btn-danger" {% if license.is_valid  != 2 %} disabled {% endif %} onclick="resetLicense({{ license.id }})" style="height: 28px;border-color: transparent">重置</button>
                                            </td>
                                        {% endif %}
                                        {% if license.is_valid != 0 and username == "root"%}
                                            <td>
                                            <a class="btn btn-sm btn-danger" disabled  {% if license.cloudInfo.cloudName  == "" %} disabled {% endif %}  title="修改" href="{% url 'adminbd:edit_license' %}?id={{ license.id}}" style="height: 28px;border-color: transparent">修改</a>

                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
        </div>


    <script>
        var cloud_id = $('#cloud_info option:selected').val();
            if(cloud_id){
                $(".fa-dashboard").css('color','#f44336');
            }
        function selectCloud(){
            var cloud_id = $('#cloud_info option:selected').val();
            window.location.href = "/adminbd?cloud_id="+cloud_id;
        }

        function resetLicense(license_id){
            var btnSn = function(e){
                $.ajax({
                        url:"/adminbd/reset_license",
                        data:{license_id:license_id},
                        type:"GET",
                        success:function(data) {
                            if(data.result == 0){
                                SuccessWarning("license重置成功！",reloadPage);
                            }else{
                                ErrorWarning("license重置失败！",reloadPage);
                            }
                        },
                       error:function(){
                           ErrorWarning("服务器错误！",reloadPage);
                       }
                });
            };
            ConfirmWarning("确认","确认重置该License吗?"+
                    "</br><strong style='color:red;'>注意：重置后，原注册的云平台将不能正常运行！</strong>",btnSn);
        }
    </script>


    {% endblock %}