{% extends "common/common.html" %}
    {% block page-inner %}
    <style>
        .form-group #license_code{height: 2rem;padding: 0.4rem 1rem 0rem 1rem;}
        .form-group label{padding: 0.5rem 1rem 0.2rem 1rem;}
        #fun_all{
            width: 280px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            position: absolute;
            right: -262px;
            top: 0;
        }
        #fun_num{
            width: 57px;
            text-align: center;
            position: relative;
            top: -1px;
            border: none;
            padding: 0;
            margin: 0;
        }
        .fun_addm{
            display: inline-block;
            width: 34px;
            height: 34px;
            border-radius: 4px;
            border: solid 1px lightgray;
            cursor: pointer;
            background-color: #fff;
        }
        .fun_addm:hover{
            background-color: lightgray;
        }
        .fun_addm:nth-child(4):hover{
            background: dodgerblue;
            color: #fff;
        }
        #content{
            width: 340px;
            height: 240px;
            position: fixed;
            top: 50%; left: 50%;
            margin-left: -170px;
            margin-top: -190px;
            display: none;
            background: floralwhite;
            z-index: 99;
            font-size: 15px;
            text-align: center;
            border-radius: 15px;
            box-shadow: black 0px 0px 10px;
            overflow: auto;
        }
        .alert{
            text-align: center;
            padding: 7px 0;
            margin-bottom: 0;
        }
        #cover{
            width: 100%;
            height: 100%;
            position: fixed;
            background: black;
            z-index: 66;
            opacity: 0.5;
            top: 0;
            left: 0;
            display: none;
        }
        .check_add{
            color: #555;
            font-size: 14px;
            width: 80px;
            cursor: pointer;
            text-align: center;
            margin-left: 5px;
        }
        input[type=checkbox]{
            margin: 0;
            position: relative;
            top: 2px;
        }
    </style>
        <div id="cover" style=""></div>
        <div class="panel">
                <div class="panel-heading">
                    <h3>修改license</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                <form  role="form" id="licenseAdd" class="form-horizontal" action="" method="post" onsubmit="return false"  >
                     {% csrf_token %}
                    <div class="form-horizontal" id="license_code" style="background-color: #fff;padding-bottom: 13px;">
                        <input type="text" style="display: none" id="license_id" name="license_id" value="{{ licenseRecord.id }}" />
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="license_code" >license 码</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入license 码" disabled value="{{ licenseRecord.license_code }}" style="padding-right:0;padding-left: 0; " required type="text" class="form-control" name="license_code" id="license_code" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cloud_info" >对应云平台</label>
                            <div class="col-sm-4">
                                <input id="bao-month" disabled value="{{ licenseRecord.cloudInfo.cloudName }}" type="text" class="form-control" name="license_code" id="license_code" >
                                <input type="text" style="display: none" id="cloud_info" name="cloud_info" value="{{ licenseRecord.cloudInfo_id }}" />
{#                                <select onchange="" class="form-control" id="cloud_info" name="cloud_info" disabled>#}
{#                                    <option value="" disabled="" selected="">选择License对应云平台</option>#}
{#                                    {% for cloudInfo in cloudInfos %}#}
{#                                        <option id="bao-month" value="{{ licenseRecord.cloudInfo_id }}">{{ licenseRecord.cloudInfo.cloudName }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
                            </div>
                        </div>
                        <div {% comment %}style="display: none"{% endcomment %} class="form-group" id="setting">
                             <label class="col-sm-3 control-label" for="funcSet" >License配置</label>
                             <div class="col-sm-4" style="position: relative;">
                                 <select onchange="funct()" class="form-control" id="funcSet" name="funcSet" >
                                        <option value="" disabled="" selected="">选择配置类型</option>
                                     {% for  licenseParam in licenseParams%}
                                         {% if licenseParam.id == 4 and username != "root" %}
                                             <option value="1{{ licenseParam.id }}" style="display: none" {% if licenseParam.id == licenseParam_id %}selected{% endif %}>{{ licenseParam.cloudRankName }}</option>
                                         {% else %}
                                             <option value="1{{ licenseParam.id }}" {% if licenseParam.id == licenseParam_id %}selected{% endif %}>{{ licenseParam.cloudRankName }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
{#                             license配置增减功能#}
                                 <div id="fun_all">
                                     <button class="fun_addm">-</button>
                                     <input type="text" id="fun_num" value="0"/>
                                     <button class="fun_addm">+</button>
                                     <button class="fun_addm" id="confirm" style="width: 50px;">确认</button>
                                     <button class="fun_addm" style="width: 75px;">配置说明</button>
                                     <div id="content">
                                     <p style="text-align: center;margin-bottom: 0;font-weight: bold;height: 35px;line-height: 35px;">配置说明</p>
                                     <p class="alert alert-warning">最低配--32个AP，1个AC授权</p>
                                     <p class="alert alert-info">低配--64个AP，1个AC授权</p>
                                     <p class="alert alert-success" >中配--128，1个AC授权</p>
                                     <p class="alert alert-info">高配--512，2个AC授权</p>
                                     <p class="alert alert-danger">最高配--1024个AP，4个AC授权</p>
                                 </div>
                                 </div>
                                <div id="article"></div>
                             </div>
                        </div>
{#                        <div class="form-group">#}
{#                            <label class="col-sm-3 control-label" for="license_time" >License过期时间</label>#}
{#                            <div class="col-sm-4">#}
{#                                <select class="form-control" id="license_time" name="license_time" disabled>#}
{#                                    <option value="" disabled="" selected="">选择License有效时间</option>#}
{#                                        <option id="one" value="1">{{ licenseParam.expire_time }}</option>#}
{#                                        <option id="two" value="2">两年</option>#}
{#                                        <option id="three" value="3">三年</option>#}
{#                                        <option id="five" value="5">五年</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >License功能</label>
                            <label class="check_add"><input type="checkbox" value="4" id="shu_ju" {% if data_id == 4 %}checked{% endif %}>大数据</label>
                            <label class="check_add"><input type="checkbox" value="2" id="ji_fei" {% if charging_id == 2 %}checked{% endif %}>计费</label>
                        </div>

                        <div class="form-group">
                            <a id="submit" class="btn btn-success" style="margin-left:50px;">提交</a>
                            <a style="margin-right:50px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
{#    </div>#}
{#</div>#}


    <script>
    $(document).ready(function(){
        $(".fa-dashboard").css('color','#f44336');
        var license_id, licenseCode, licenseType, licenseParamsID,cloud_info,license_num,license_time,shu_ju,ji_fei,lower= 0,low=0,medium=0,high= 0,higher=0;
        license_num =$.trim($('#fun_num').val());
        $('.fun_addm').eq(0).click(function(){
            license_num =$.trim($('#fun_num').val());
            if(license_num==0){
                return ;
            }
            $('#fun_num').val(--license_num);
        });
        $('.fun_addm').eq(1).click(function(){
            license_num =$.trim($('#fun_num').val());
            $('#fun_num').val(++license_num);
        });
        lower = {{ lower }};
        low = {{ low }};
        medium = {{ mid }};
        high = {{ high }};
        higher = {{ higher }};
        $('.fun_addm').eq(2).click(function(){
            if($("[value='11']").is(":selected")){
                lower =$.trim($('#fun_num').val());
            }else if($("[value='12']").is(":selected")){
                low =$.trim($('#fun_num').val());
            }else if($("[value='13']").is(":selected")){
                medium =$.trim($('#fun_num').val());
            }else if($("[value='14']").is(":selected")){
                high =$.trim($('#fun_num').val());
            }else if($("[value='15']").is(":selected")){
                higher =$.trim($('#fun_num').val());
            }else{
                return ;
            }
            $("#article").text("最低配："+lower+"个;  低配："+low+"个;  中配："+medium+"个;  高配："+high+"个;  最高配："+higher+"个");
{#            alert(low+"A"+medium+"B"+high+"C");#}
        });
            $("#article").text("最低配："+ {{ lower }} +"个;  低配："+ {{ low }} +"个;  中配："+ {{ mid }} +"个;  高配："+ {{ high }} +"个;  最高配："+ {{ higher }} +"个");

        $('.fun_addm').eq(3).click(function(){
            $("#content").fadeIn();
            $("#cover").css('display','block');
        });
        $("#cover").click(function(){
            if($("#content").css("display")=='block'){
                $("#content").css('display','none');
                $("#cover").css('display','none');
            }
        });
        $("#submit").click(function(){
{#            keyid =$.trim($("input[name='key_id']").val());#}
{#            licenseCode =$.trim($("input[name='license_code']").val());#}
{#            licenseType =$.trim($('#license_type').val());#}
            licenseParamsID =$.trim($('#funcSet').val());
            license_id =$.trim($('#license_id').val());
{#            license_time =$.trim($('#license_time').val());#}
{#            license_num =$.trim($('#fun_num').val());#}
            if($("#shu_ju").is(":checked")){
                shu_ju=$("#shu_ju").val();
            }else{
                shu_ju="";
            }
            if($("#ji_fei").is(":checked")){
                ji_fei=$("#ji_fei").val();
            }else{
                ji_fei="";
            }
            var btnSn=function() {};
{#            if(!licenseCode ){#}
{#                AlarmWarning("请输入license code!",btnSn);#}
{#            }else if(!cloud_info){#}
{#                AlarmWarning("请选择对应云平台!",btnSn);#}
{#            }else #}
            if (!licenseParamsID ){
                AlarmWarning("请选择配置类型!",btnSn);
            }
{#            else if(!license_time){#}
{#                AlarmWarning("请选择license有效时间!",btnSn);#}
{#            }#}
            else{
                var btnFn=function(e) {};
               $.ajax({
                    url:"/adminbd/edit_license",
                    data:{license_id:license_id,lower:lower,low:low,medium:medium,high:high,higher:higher,licensePID:licenseParamsID,data_license:shu_ju,charging_license:ji_fei,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    type:"POST",
                    success:function(data) {
                        if(data.res == 0){
                            var btnSn=function(e) {
                                window.location.href = '/adminbd/index';
                            };
                            SuccessWarning("修改成功",btnSn);
                        }else{
                            ErrorWarning("license修改失败!",btnFn);
                        }
                    },
                   error:function(){
                        ErrorWarning("服务器错误！",btnFn);
                   }
            })
            }
        });

    });

{#        function func(){#}
{#            //获取被选中的option标签#}
{#            var vs = $('#license_type option:selected').val();#}
{#            console.log(vs);#}
{#            if(vs==1){#}
{#                $('#setting').show();#}
{#            }else{#}
{#                $('#setting').hide();#}
{#            }#}
{#        }#}

    </script>


    {% endblock %}