{% extends "common/common.html" %}
    {% block page-inner %}
        <div class="panel">
                <div class="panel-heading">
                    <h3>云平台列表</h3>
                    {% if is_superuser %}
                        <a href="/adminbd/add_cloud" class="btn  btn btn-turquoise text-right" style="float: right;margin-top:-30px">
                              <span class="fa fa-plus-square"></span>添加云平台
                        </a>
                    {% endif %}
                    <hr/>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed table-hover">
                        <thead >
                            <tr>
                                <th>云平台编号</th>
                                <th>云平台名称</th>
                                <th>购买者</th>
                                <th>购买时间</th>
                                <th>安装地址</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">
                        {% for cloudInfo in cloudInfos %}
                            <tr>
                                <td>{{ cloudInfo.cloudNum }}</td>
                                {% if cloudInfo.cloudName %}
                                    <td>
                                        <span style="cursor: pointer;color: #00C853"  style="" onclick="window.location.href='/adminbd?cloud_id={{ cloudInfo.id }}'" >
                                            {{ cloudInfo.cloudName }}
                                        </span>
                                    </td>
                                {% else %}
                                    <td>试用版license</td>
                                {% endif %}
                                {% if cloudInfo.buyer %}
                                    <td>{{ cloudInfo.buyer }}</td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                <td>{{ cloudInfo.buyTime }}</td>
                                {% if cloudInfo.installAddress %}
                                    <td>{{ cloudInfo.installAddress }}</td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                {% if cloudInfo.contacts %}
                                    <td>{{ cloudInfo.contacts }}</td>
                                {% else %}
{#                                    <td>root</td>#}
                                    <td>暂无</td>
                                {% endif %}
                                {% if cloudInfo.phone %}
                                    <td>{{ cloudInfo.phone }}</td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}