{% extends "common/common.html" %}
    {% block page-inner %}
    <style>
        .form-group input{height: 2rem;padding: 0.5rem 1rem 0rem 1rem;}
        .form-group label{padding: 0rem 1rem 0.2rem 1rem;}
        #license_code .form-group{margin-bottom: 0;}
    </style>
        <div class="panel">
                <div class="panel-heading">
                    <h3>添加云平台</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                <form  role="form" id="licenseAdd" class="form-horizontal" action="" method="post" onsubmit="return false" >
                     {% csrf_token %}
                    <div class="form-horizontal" id="license_code" style="background-color: #fff;padding-bottom: 13px;">
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="cloud_name" >云平台名称:</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入云平台名称" required type="text" class="form-control" name="cloud_name" id="cloud_name" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cloud_user" >云平台管理员</label>
                            <div class="col-sm-4">
                                <select onchange="func()" class="form-control" id="cloud_user" name="cloud_user" >
                                    <option value="" disabled="" selected="">选择管理员</option>
                                    {% for cloudUser in cloudUsers %}
                                        <option id="bao-month" value="{{ cloudUser.id }}">{{ cloudUser.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label" for="install_add" >安装地址:</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入安装地址" required type="text" class="form-control" name="install_add" id="install_add" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cloud_buyer" >购买方:</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入购买方" required type="text" class="form-control" name="cloud_buyer" id="cloud_buyer" >
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-3 control-label" for="contacts" >联系人:</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入联系人" required type="text" class="form-control" name="contacts" id="contacts" >
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-3 control-label" for="phone" >联系电话:</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入联系电话" required type="text" class="form-control" name="phone" id="phone" >
                            </div>
                        </div>


                        <div class="form-group">
                            <button id="submit" class="btn btn-success" style="margin-left:50px;">提交</button>
                            <a style="margin-right:50px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    <script>
        var cloud_name,cloud_user, install_add, cloud_buyer, contacts, phone;
        $("#submit").click(function(){
            cloud_name =$.trim($("input[name='cloud_name']").val());
            cloud_user =$.trim($("#cloud_user").val());
            install_add =$.trim($("input[name='install_add']").val());
            cloud_buyer =$.trim($("input[name='cloud_buyer']").val());
            contacts =$.trim($("input[name='contacts']").val());
            phone =$.trim($("input[name='phone']").val());
            var btnSn=function() {};

            if(!cloud_name){
                AlarmWarning("请输入云平台名称",btnSn);
            }else if(!install_add){
                AlarmWarning("请输入云平台安装地址",btnSn);
            }else if(!cloud_buyer){
                AlarmWarning("请输入购买方名称",btnSn);
            }else if(!contacts){
                AlarmWarning("请输入联系人",btnSn);
            }else if(!phone){
                AlarmWarning("请输入联系电话",btnSn);
            }
            else{
               query()
            }
        });
        var page=true;
        if(page){
            $("#index_Icon").css('color','red');
        }
        var btnFn=function(e) {};
        function query(){
            $.ajax({
                url:"/adminbd/add_cloud",
                data:{cloud_name:cloud_name, cloud_user:cloud_user,install_add:install_add, cloud_buyer:cloud_buyer, contacts:contacts,
                phone:phone,csrfmiddlewaretoken:'{{ csrf_token }}'},
                type:"POST",
                success:function(data) {
                    var btnSn=function(e) {
                        window.location.href = '/adminbd/license_yun';
                    };
                    if(data.res == 1){
                        SuccessWarning("添加成功",btnSn);
                    }else{
                        ErrorWarning("添加失败",btnFn);
                    }
                },
                error:function() {
                    ErrorWarning("服务器错误",btnFn);
                }
            })
        }
    </script>


    {% endblock %}
