{% extends "common/common.html" %}
    {% block page-inner %}
    <style>
        .form-group input{height: 2rem;padding: 0.5rem 1rem 0rem 1rem;}
        .form-group label{padding: 0.5rem 1rem 0.2rem 1rem;}
        #fun_all{
            width: 140px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            top:0;
            right: -122px;
            position: absolute;
        }
        #fun_num{
            width: 34px;
            padding: 4px 12px;
            text-align: center;
            position: relative;
            top: -1px;
            border: none;
        }
        .fun_addm{
            display: inline-block;
            width: 34px;
            height: 34px;
            border-radius: 4px;
            border: solid 1px lightgray;
            cursor: pointer;
            background-color: #fff;
        }
        .fun_addm:hover{
            background-color: lightgray;
        }
    </style>
        <div class="panel">
                <div class="panel-heading">
                    <h3>添加license</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                <form  role="form" id="licenseAdd" class="form-horizontal" action="" method="post" onsubmit="return false"  >
                     {% csrf_token %}
                    <div class="form-horizontal" id="license_code" style="background-color: #fff;padding-bottom: 13px;">
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="license_code" >license 码</label>
                            <div class="col-sm-4">
                                <input placeholder="请输入license 码" style="padding-right:0;padding-left: 0; " required type="text" class="form-control" name="license_code" id="license_code" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cloud_info" >对应云平台</label>
                            <div class="col-sm-4">
                                <select onchange="" class="form-control" id="cloud_info" name="cloud_info" >
                                    <option value="" disabled="" selected="">选择License对应云平台</option>
                                    {% for cloudInfo in cloudInfos %}
                                        <option id="bao-month" value="{{ cloudInfo.id }}">{{ cloudInfo.cloudName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="license_type" >License类型</label>
                            <div class="col-sm-4">
                                <select onchange="func()" class="form-control" id="license_type" name="license_type" >
                                    <option value="" disabled="" selected="">选择功能类型</option>
                                    {% for licenseType in licenseTypes %}
                                        <option id="bao-month" value="{{ licenseType.id }}">{{ licenseType.discription }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div style="display: none" class="form-group" id="setting">
                             <label class="col-sm-3 control-label" for="funcSet" >License配置</label>
                             <div class="col-sm-4" style="position: relative;">
                                 <select onchange="funct()" class="form-control" id="funcSet" name="funcSet" >
                                        <option value="" disabled="" selected="">选择配置类型</option>
                                     {% for  licenseParam in licenseParams%}
                                         {% if licenseParam.id == 4 and username != "root" %}
                                             <option value="{{ licenseParam.id }}" style="display: none">{{ licenseParam.cloudRankName }}</option>
                                         {% else %}
                                             <option value="{{ licenseParam.id }}">{{ licenseParam.cloudRankName }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>


                             <div id="fun_all">
                                 <button class="fun_addm">-</button>
                                 <input type="text" id="fun_num" value="1"/>
                                 <button class="fun_addm">+</button>
                             </div>


                             </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="license_time" >License有效期</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="license_time" name="license_time" >
                                    <option value="" disabled="" selected="">选择License有效时间</option>
                                        <option id="one" value="1">一年</option>
                                        <option id="two" value="2">两年</option>
                                        <option id="three" value="3">三年</option>
                                        <option id="five" value="5">五年</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <a id="submit" class="btn btn-success" style="margin-left:50px;">提交</a>
                            <a style="margin-right:50px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
{#    </div>#}
{#</div>#}


    <script>
    $(document).ready(function(){
        $(".fa-dashboard").css('color','#f44336');
        var keyid, licenseCode, licenseType, licenseParamsID,cloud_info,license_num,license_time;
        license_num =$.trim($('#fun_num').val());
        $('.fun_addm').eq(0).click(function(e){
            license_num =$.trim($('#fun_num').val());
            if(license_num==1){
                return ;
            }
            $('#fun_num').val(--license_num);
        });
        $('.fun_addm').eq(1).click(function(e){
            license_num =$.trim($('#fun_num').val());
            $('#fun_num').val(++license_num);
        });
        $("#submit").click(function(){
            keyid =$.trim($("input[name='key_id']").val());
            licenseCode =$.trim($("input[name='license_code']").val());
            licenseType =$.trim($('#license_type').val());
            licenseParamsID =$.trim($('#funcSet').val());
            cloud_info =$.trim($('#cloud_info').val());
            license_time =$.trim($('#license_time').val());
            license_num =$.trim($('#fun_num').val());
            var btnSn=function() {};
            if(!licenseCode ){
                AlarmWarning("请输入license code!",btnSn);
            }else if(!cloud_info){
                AlarmWarning("请选择对应云平台!",btnSn);
            }else if(!licenseType){
                AlarmWarning("请选择license类型!",btnSn);
            }else if (licenseType == "1" && !licenseParamsID ){
                AlarmWarning("请选择配置类型!",btnSn);
            }else if(!license_time){
                AlarmWarning("请选择license有效时间!",btnSn);
            }
            else{
                var btnFn=function(e) {};
               $.ajax({
                    url:"/adminbd/add_license",
                    data:{key_id:keyid, license_code:licenseCode,cloud_info:cloud_info,counts:license_num,license_time:license_time, license_type:licenseType,licensePID:licenseParamsID,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    type:"POST",
                    success:function(data) {
                        if(data.res == 1){
                            var btnSn=function(e) {
                                window.location.href = '/adminbd/index';
                            };
                            SuccessWarning("license添加成功",btnSn);
                        }else if(data.res == 2){
                            ErrorWarning("license code 已存在！",btnFn);
                        }else{
                            ErrorWarning("license添加失败!",btnFn);
                        }
                    },
                   error:function(){
                        ErrorWarning("服务器错误！",btnFn);
                   }
            })
            }
        });

    });

        function func(){
            //获取被选中的option标签
            var vs = $('#license_type option:selected').val();
            console.log(vs);
            if(vs==1){
                $('#setting').show();
            }else{
                $('#setting').hide();
            }
        }

    </script>


    {% endblock %}