{% extends "common/common.html" %}
    {% block page-inner %}
        <style>
            .panel-body {
                padding: 0 15px 50px;
            }
            .xzy_page{
                white-space: nowrap;
                position: absolute;
                right: 197px;
            }
            input[type=number]{
                padding: 1px;
            }
        </style>
        <div class="panel">
                <div class="panel-heading">
                    <h3>云平台列表</h3>
                    {% if is_superuser %}
                        <a href="/adminbd/add_cloud" class="btn  btn btn-turquoise text-right" style="float: right;margin-top:-30px">
                              <span class="fa fa-plus-square"></span>添加云平台
                        </a>
                    {% endif %}
                    <hr/>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed table-hover">
                        <thead >
                            <tr>
                                <th>云平台编号</th>
                                <th>云平台名称</th>
                                <th>购买者</th>
                                <th>购买时间</th>
                                <th>安装地址</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                {% if is_superuser and username == "root" %}
                                    <th>删除云平台</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">
                        {% for cloudInfo in cloudInfos %}
                            <tr>
                                <td>{{ cloudInfo.cloudNum }}</td>
                                {% if cloudInfo.cloudName %}
                                    <td>
                                        <span style="cursor: pointer;color: #00C853"  style="" onclick="window.location.href='/adminbd?cloud_id={{ cloudInfo.id }}'" >
                                            {{ cloudInfo.cloudName }}
                                        </span>
                                    </td>
                                {% else %}
                                    <td>试用版license</td>
                                {% endif %}
                                {% if cloudInfo.buyer %}
                                    <td>{{ cloudInfo.buyer }}</td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                <td>{{ cloudInfo.buyTime }}</td>
                                {% if cloudInfo.installAddress %}
                                    <td>{{ cloudInfo.installAddress }}</td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                {% if cloudInfo.contacts %}
                                    <td>{{ cloudInfo.contacts }}</td>
                                {% else %}
{#                                    <td>root</td>#}
                                    <td>暂无</td>
                                {% endif %}
                                {% if cloudInfo.phone %}
                                    <td>{{ cloudInfo.phone }}</td>
                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                {% if is_superuser and username == "root" %}
                                    <td>
                                        <a class="btn btn-sm btn-danger"
                                           title="删除云平台"
                                           onclick="delCloud({{ cloudInfo.id }})"
                                           style="height: 28px;border-color: transparent">删除</a>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <div class="xzy_page">
                    <ul class="xzy_ul"></ul>
                </div>
                </div>
            </div>
        <script>
            function delCloud(cloud_id){
            var btnSn = function(e){
                $.ajax({
                        url:"/adminbd/del_cloud",
                        data:{cloud_id:cloud_id},
                        type:"GET",
                        success:function(data) {
                            if(data.result == 0){
                                SuccessWarning("删除成功！",reloadPage);
                            }else{
                                ErrorWarning("删除失败！",reloadPage);
                            }
                        },
                       error:function(){
                           ErrorWarning("服务器错误！",reloadPage);
                       }
                });
            };
            ConfirmWarning("确认","确认删除该云平台吗?"+
                    "</br><strong style='color:red;'>注意：删除后，原注册的云平台将不能正常运行！</strong>",btnSn);
        }
        </script>
        <script src="../../static/js/pageCount.js"></script>
{% endblock %}