{% extends "common/common.html" %}
    {% block page-inner %}
        <style>
            .panel-body {
                padding: 0 15px 50px;
            }
            .xzy_page{
                margin-top: 72px;
                white-space: nowrap;
                position: absolute;
                right: 197px;
            }
            input[type=number]{
                padding: 1px;
            }
        </style>
        <div class="panel">
                <div class="panel-heading">
                    <h3 style="font-weight: bold;height: 19px;">license配置信息</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>License code</th>
                                <th>云平台</th>
                                <th>工单号</th>
                                <th>配置名称</th>
                                <th>物料个数</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">
                        <p class="alert alert-warning" style="padding: 7px;margin-bottom: 6px;">
                            温馨提示：Code（<span style="font-weight: bold;color: red;">
                            {{ licenseObj.license_code }}</span>）对应的License支持
                            <span style="color:red;font-weight: bold;">{{ licenseObj.maxAps }}</span>个AP,
                            <span style="color:red;font-weight: bold;">{{ licenseObj.maxAcs }}</span>个AC授权,
                            <span style="color:red;font-weight: bold;">{{ licenseObj.maxUsers }}</span>个用户授权
                        </p>
                        {% for dic in dic_list %}
                            <tr>
                                <td>{{ licenseObj.license_code }}</td>
                            {% if  licenseObj.cloudInfo.cloudName %}
                                <td>{{ licenseObj.cloudInfo.cloudName }}</td>
                            {% else %}
                                <td>暂无</td>
                            {% endif %}
                                {% if dic.wkNum %}
                                    <td style="cursor: pointer;color: #00C853"
                                        onclick="window.location.href='/adminbd/order_details?wk_num={{ dic.wkNum }}'" >
                                        {{ dic.wkNum }}
                                    </td>

                                {% else %}
                                    <td>暂无</td>
                                {% endif %}
                                <td>{{ dic.m_name }}</td>
                                <td>{{ dic.m_count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a style="margin: 20px 0 20px 20px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                <div class="xzy_page">
                    <ul class="xzy_ul"></ul>
                </div>
                </div>
        </div>

    <script>
        function selectCloud(){
            var cloud_id = $('#cloud_info option:selected').val();
            window.location.href = "/adminbd?cloud_id="+cloud_id;
        }
        if($(".num1").html()== "0个"){
            $(".num1").parent('tr').css('display','none')
        }
        if($(".num2").html()== "0个"){
            $(".num2").parent('tr').css('display','none')
        }
        if($(".num3").html()== "0个"){
            $(".num3").parent('tr').css('display','none')
        }

    </script>
    <script src="../../static/js/pageCount.js"></script>
    {% endblock %}