{% extends "common/common.html" %}
    {% block page-inner %}
    <style>
        .form-group #license_code{height: 2rem;padding: 0.4rem 1rem 0rem 1rem;}
        .form-group label{padding: 0.5rem 1rem 0.2rem 1rem;}
        .btn{
            width: 50px;
            height: 32px;
            line-height: 30px;
            padding: 0;
        }
        #fun_all{
            width: 280px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            position: absolute;
            right: -262px;
            top: 0;
        }
        #fun_num{
            width: 57px;
            text-align: center;
            position: relative;
            top: -1px;
            border: none;
            padding: 0;
            margin: 0;
        }
        .fun_addm{
            display: inline-block;
            width: 34px;
            height: 34px;
            border-radius: 4px;
            border: solid 1px lightgray;
            cursor: pointer;
            background-color: #fff;
        }
        .fun_addm:hover{
            background-color: lightgray;
        }
        .fun_addm:nth-child(4):hover{
            background: dodgerblue;
            color: #fff;
        }
        #content{
            width: 400px;
            height: 260px;
            padding: 20px;
            position: fixed;
            top: 50%; left: 50%;
            margin-left: -200px;
            margin-top: -150px;
            display: none;
            background: floralwhite;
            z-index: 99;
            font-size: 15px;
            text-align: center;
            border-radius: 15px;
            box-shadow: black 0px 0px 10px;
            overflow: auto;
        }
        #cover{
            width: 100%;
            height: 100%;
            position: fixed;
            background: black;
            z-index: 66;
            opacity: 0.5;
            top: 0;
            left: 0;
            display: none;
        }
        .check_add{
            color: #555;
            font-size: 14px;
            width: 80px;
            cursor: pointer;
            text-align: center;
            margin-left: 5px;
        }
        input[type=checkbox]{
            margin: 0;
            position: relative;
            top: 2px;
        }
    </style>
        <div id="cover" style=""></div>
        <div class="panel">
                <div class="panel-heading">
                    <h3>添加license</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                <form  role="form" id="licenseAdd" class="form-horizontal" action="" method="post" onsubmit="return false"  >
                     {% csrf_token %}
                    <div class="form-horizontal" style="background-color: #fff;padding-bottom: 13px;">
                        <div class="form-group" style="padding-top: 20px;">

                            <label class="col-sm-3 control-label" for="license_code" >license 码</label>
                            <div class="col-sm-4" >
                                <input placeholder="点击右侧按钮生成license码" value="" disabled style="padding-right:0;padding-left: 0; " required type="text" class="form-control create" name="license_code" id="license_code" >
{#                            <div class="col-sm-4">#}
{#                                <input placeholder="请输入license 码" style="padding-right:0;padding-left: 0; " type="text" class="form-control" name="license_code" id="license_code" >#}
{#                            </div>#}
                            </div>
                            <a class="col-sm-1 btn btn-turquoise" id="create" onclick="proCode()">生成</a>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cloud_info" >对应云平台</label>
                            <div class="col-sm-4">
                                <select onchange="" class="form-control" id="cloud_info" name="cloud_info" >
                                    <option value="" disabled="" selected="">选择License对应云平台</option>
                                    {% for cloudInfo in cloudInfos %}
                                        <option id="bao-month" value="{{ cloudInfo.id }}">{{ cloudInfo.cloudName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div {% comment %}style="display: none"{% endcomment %} class="form-group" id="setting">
                             <label class="col-sm-3 control-label" for="funcSet" >License配置</label>
                             <div class="col-sm-4" style="position: relative;">
                                 <select onchange="funct()" class="form-control" id="funcSet" name="funcSet" >
                                        <option value="" disabled="" selected="">选择配置类型</option>
                                     {% for  licenseParam in licenseParams%}
                                         {% if licenseParam.id == 4 and username != "root" %}
                                             <option value="1{{ licenseParam.id }}" style="display: none">{{ licenseParam.cloudRankName }}</option>
                                         {% else %}
                                             <option value="1{{ licenseParam.id }}">{{ licenseParam.cloudRankName }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
{#                             license配置增减功能#}
                                 <div id="fun_all">
                                     <button class="fun_addm">-</button>
                                     <input type="text" id="fun_num" value="1"/>
                                     <button class="fun_addm">+</button>
                                     <button class="fun_addm" id="confirm" style="width: 50px;">确认</button>
                                     <button class="fun_addm" style="width: 75px;">配置说明</button>
                                     <div id="content">aa</div>
                                 </div>
                                <div id="article"></div>
                             </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="license_time" >License有效期</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="license_time" name="license_time" >
                                    <option value="" disabled="" selected="">选择License有效时间</option>
                                        <option id="one" value="1">一年</option>
                                        <option id="two" value="2">两年</option>
                                        <option id="three" value="3">三年</option>
                                        <option id="five" value="5">五年</option>
                                </select>
                            </div>
                      </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >License功能</label>
                            <label class="check_add"><input type="checkbox" value="4" id="shu_ju">大数据</label>
                            <label class="check_add"><input type="checkbox" value="2" id="ji_fei">计费</label>
                        </div>

                        <div class="form-group">
                            <a id="submit" class="btn btn-success" style="margin-left:50px;">提交</a>
                            <a style="margin-right:50px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <script>
            function proCode(){
                $.get("{% url 'adminbd:add_license' %}",function(code){
                    $(".create").val(code);
                    $("#create").css("display","none");
                })
        }
        </script>
    <script>
    $(document).ready(function(){
        $(".fa-dashboard").css('color','#f44336');
        var keyid, licenseCode, licenseType, licenseParamsID,cloud_info,license_num,license_time,shu_ju,ji_fei,low=0,medium=0,high=0;
        $('.fun_addm').eq(0).click(function(){
            license_num =$.trim($('#fun_num').val());
            if(license_num==0){
                return ;
            }
            $('#fun_num').val(--license_num);
        });
        $('.fun_addm').eq(1).click(function(){
            license_num =$.trim($('#fun_num').val());
            $('#fun_num').val(++license_num);
        });
        $('.fun_addm').eq(2).click(function(){
            if($("[value='11']").is(":selected")){
                low =$.trim($('#fun_num').val());
            }else if($("[value='12']").is(":selected")){
                medium =$.trim($('#fun_num').val());
            }else if($("[value='13']").is(":selected")){
                high =$.trim($('#fun_num').val());
            }
            $("#article").text("低配："+low+"个 中配："+medium+"个 高配："+high+"个");
{#            alert(low+"A"+medium+"B"+high+"C");#}
        });

        $('.fun_addm').eq(3).click(function(){
            $("#content").fadeIn();
            $("#cover").css('display','block');
        });
        $("#cover").click(function(){
            if($("#content").css("display")=='block'){
                $("#content").css('display','none');
                $("#cover").css('display','none');
            }
        });

        $("#submit").click(function(){
            keyid =$.trim($("input[name='key_id']").val());
            licenseCode =$.trim($("input[name='license_code']").val());
            licenseType =$.trim($('#license_type').val());
            licenseParamsID =$.trim($('#funcSet').val());
            cloud_info =$.trim($('#cloud_info').val());
            license_time =$.trim($('#license_time').val());
{#            license_num =$.trim($('#fun_num').val());#}
            if($("#shu_ju").is(":checked")){
                shu_ju=$("#shu_ju").val();
            }else{
                shu_ju="";
            }
            if($("#ji_fei").is(":checked")){
                ji_fei=$("#ji_fei").val();
            }else{
                ji_fei="";
            }
            var btnSn=function() {};
            if(!licenseCode ){
                AlarmWarning("请输入或生成license code!",btnSn);
            }else if(!cloud_info){
                AlarmWarning("请选择对应云平台!",btnSn);
            }else if (!licenseParamsID ){
                AlarmWarning("请选择配置类型!",btnSn);
            }else if(!license_time){
                AlarmWarning("请选择license有效时间!",btnSn);
            }
            else{
{#                alert('low:'+low+'medium:'+medium+'high:'+high);#}
                var btnFn=function(e) {};
               $.ajax({
                    url:"/adminbd/add_license",
                    data:{key_id:keyid, license_code:licenseCode,cloud_info:cloud_info,low:low,medium:medium,high:high,license_time:license_time,licensePID:licenseParamsID,data_license:shu_ju,charging_license:ji_fei,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    type:"POST",
                    success:function(data) {
                        if(data.res == 1){
                            var btnSn=function(e) {
                                window.location.href = '/adminbd/add_license';
                            };
                            SuccessWarning("license添加成功",btnSn);
                        }else if(data.res == 2){
                            ErrorWarning("license code 已存在！",btnFn);
                        }else if(data.res == 3){
                            ErrorWarning("该云平台下存在有效license，不能重复添加！",btnFn);
                        }else{
                            ErrorWarning("license添加失败!",btnFn);
                        }
                    },
                   error:function(){
                        ErrorWarning("服务器错误！",btnFn);
                   }
            })
            }
        });

    });

{#        function func(){#}
{#            //获取被选中的option标签#}
{#            var vs = $('#license_type option:selected').val();#}
{#            console.log(vs);#}
{#            if(vs==1){#}
{#                $('#setting').show();#}
{#            }else{#}
{#                $('#setting').hide();#}
{#            }#}
{#        }#}

    </script>


    {% endblock %}