{% extends "common/common.html" %}
    {% block page-inner %}
        <style>
            #submit{
                margin-bottom: 10px;
                padding: 7px;
            }
        </style>
        <div class="panel">
            <div class="panel-heading">
                <h3>工单查询</h3>
                <hr/>
            </div>

            <div class="panel-body">
                <form  role="form" id="sys_config" class="form-horizontal" action="" method="post" onsubmit="return false"  >
                     {% csrf_token %}
                    <div>
                        <div>工单号</div>
                        <input type="text" placeholder="url" id="or_num"/>
                        <a class="btn btn-turquoise" id="submit" >查询</a>
                    </div>
                </form>

                    <table class="table table-striped table-condensed table-hover" style="padding: auto 35px;">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>工单号</th>
                            <th>云平台名称</th>
                            <th>LicenseCode</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px;">
                        {% for each_work in work_info %}
                             <tr>
                                <td>{{ each_work.id }}</td>

                                 <td style="cursor: pointer;color: #00C853" onclick="window.location.href='/adminbd/order_details?wk_num={{ each_work.workOrderNum }}'" >
                                     {{ each_work.workOrderNum }}
                                 </td>

                                <td>{{ each_work.license.cloudInfo.cloudName }}</td>
                                <td>{{ each_work.license.license_code }}</td>
                             </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
        </div>

    <script>
    $(document).ready(function(){
        $("#submit").click(function(){
            var or_num =$.trim($("#sys_url").val());
                $.ajax({
                    url:"/adminbd/or_query",
                    data: {or_num:or_num},
                    type:"POST",
                    success:function(data) {
                        alert(data);
                    },
                    error:function(){
                         ErrorWarning("服务器错误！");
                    }
            })
        });

    });
    </script>
    {% endblock %}