{% extends "common/common.html" %}
    {% block page-inner %}
        <style>
            input[type=text]{
                border: 1px solid lightgray;
                padding: 0 0 0 10px;
            }
            table{
                width: 60%;
                margin-left: 50px;
            }
            .IO{
                width: 50px;
                padding-bottom: 12px;
            }
            .flag1,.flag2{
                width: 100px;
                padding-left: 20px;
                padding-bottom: 12px;
            }
        </style>
        <div class="panel">
            <div class="panel-heading">
                <h3>订单系统</h3>
                <hr/>
            </div>

            <div class="panel-body">
                <form  role="form" id="sys_config" action="" method="post" onsubmit="return false"  >
                     {% csrf_token %}
{#                    <div class="form-group">#}
{#                        <label for="IP" class="col-sm-1">IP：</label>#}
{#                        <input type="text" id="IP" placeholder="ip" class="col-sm-5">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="PORT" class="col-sm-1">PORT：</label>#}
{#                        <input type="text" id="PORT" placeholder="port" class="col-sm-5">#}
{#                    </div>#}
                    <table>
                        <tr>
                            <td class="IO">IP</td>
                            <td><input type="text" id="IP" placeholder="ip"/></td>
                            <td class="flag1"></td>
                        </tr>
                        <tr>
                            <td class="IO">PORT</td>
                            <td><input type="text" id="PORT" placeholder="port"/></td>
                            <td class="flag2"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a class="btn btn-turquoise right" id="submit" >确认</a></td>
                            <td></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>

    <script>
    $(document).ready(function(){
        $("#IP").change(function(){
            var str=$(this).val();
            var ret=/^(\d|[1-9]\d|1\d{2}|2[0-5][0-5])\.(\d|[1-9]\d|1\d{2}|2[0-5][0-5])\.(\d|[1-9]\d|1\d{2}|2[0-5][0-5])\.(\d|[1-9]\d|1\d{2}|2[0-5][0-5])$/;
            if(ret.test(str)){
                $(this).css('border-color','green');
                $(".flag1").html('输入正确！').css('color','green');
                $("#submit").removeAttr('disabled');
            }else{
                $(this).css('border-color','red');
                $(".flag1").html('输入错误！').css('color','red');
                $("#submit").attr('disabled','true');
            }
        });
        $("#PORT").change(function(){
            var str=$(this).val();
            var ret=/^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-5]{2}[0-3][0-5])$/;
            if(ret.test(str)){
                $(this).css('border-color','green');
                $(".flag2").html('输入正确！').css('color','green');
                $("#submit").removeAttr('disabled');
            }else{
                $(this).css('border-color','red');
                $(".flag2").html('输入错误！').css('color','red');
                $("#submit").attr('disabled','true');
            }
        });
        $("#submit").click(function(){
            var IP =$.trim($("#IP").val());
            var PORT =$.trim($("#PORT").val());
{#                $.get("/adminbd/sys_config",function(data){#}
{#                    #}
{#                });#}
{#                $.post("/adminbd/sys_config",{#}
{#                    name:"...",#}
{#                    url:"..."#}
{#                },function(data){#}
{#                    #}
{#                });#}
                $.ajax({
                     url:"/adminbd/sys_config",
                     data: {IP:IP,PORT:PORT},
                     type:"POST",
                     success:function(data) {
                         alert(data);
                     },
                    error:function(){
                         ErrorWarning("服务器错误！");
                    }
                })
        });

    });
    </script>
    {% endblock %}