{% extends "common/common.html" %}
    {% block page-inner %}
    <style>
        .form-group input{height: 2rem;padding: 0.5rem 1rem 0rem 1rem;}
        .form-group label{padding: 0rem 1rem 0.2rem 1rem;}
        .multiselect{clear: both}
        .multiselect-selected-text{float: left;}
        .caret{float: right;margin-top: 6px;}
        #license_code .form-group{margin-bottom: 0;}
        .multiselect-container .input-group .form-control{height: 29px;width: 190px;border: 1px solid #ccc;}
        .multiselect-container .input-group .input-group-addon{}
        .multiselect-container .input-group .input-group-btn .multiselect-clear-filter{box-shadow: inherit;height: 37px;}
        .example-onDeselectAll .multiselect-container li a input{margin: 0;}
        .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
            margin: 0;
        }
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked{opacity:1;margin: 0;right: 0;top: 4px; left: 10px;}

    </style>
        <div class="panel">
                <div class="panel-heading">
                    <h3>添加管理员</h3>
                    <hr/>
                </div>
                <div class="panel-body">
                <form  role="form" id="licenseAdd" class="form-horizontal" action="" method="post" onsubmit="return false" >
                     {% csrf_token %}
                    <div class="form-horizontal" id="license_code" style="background-color: #fff;padding-bottom: 13px;">
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="user_name" >管理员账号:</label>
                            <div class="col-sm-4">
                                <input style="padding-right:0;padding-left: 0; " placeholder="管理员账号" required type="text" class="form-control" name="user_name" id="user_name" >
                            </div>
                        </div>
                        <div class="form-group superUsers">
                                <label class="col-sm-3 control-label" for="super_user" >管理员等级:</label>
                                <div class="col-sm-4">
                                    <select onchange="func()" class="form-control" id="super_user" name="super_user" >
                                        <option id="bao-month" value="2">工厂管理员</option>
                                        <option id="bao-month" value="1">超级管理员</option>
                                        <option id="bao-month" value="0">销售管理员</option>
                                    </select>
                                </div>
                            </div>
                        <div class="form-group list-select" style="margin-top: 15px; ">
                            <label class="col-sm-3 control-label" for="sel_cloud" >管理的云平台:</label>
                            <div class="col-sm-4">
                                <select id="example-onDeselectAll" multiple="multiple">
                                    {% for cloudInfo in cloudInfos %}
                                        <option id="bao-month" value="{{ cloudInfo.id }}">{{ cloudInfo.cloudName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="first_name" >联系人:</label>
                            <div class="col-sm-4">
                                <input style="padding-right:0;padding-left: 0; " placeholder="联系人姓名" required type="text" class="form-control" name="first_name" id="first_name" >
                            </div>
                        </div>
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="phone" >联系方式:</label>
                            <div class="col-sm-4">
                                <input style="padding-right:0;padding-left: 0; " placeholder="手机号" required type="text" class="form-control" name="phone" id="phone" >
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="submit" class="btn btn-success" style="margin-left:50px;margin-bottom: 10px;">提交</button>
                            <a style="margin-bottom: 10px;margin-right:50px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    <script>

       $(document).ready(function() {
           $('#example-onDeselectAll').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                selectAllJustVisible: false,
                selectAllText:"选择全部",
                nonSelectedText:"请选择云平台",
                allSelectedText:"全部选择云平台",
                nSelectedText:"云平台",

                buttonWidth: '100%',
                maxHeight: 240,
                numberDisplayed: 1,
                onDeselectAll: function() {
                    //alert('onDeselectAll triggered!');
                }
        });
           var page=true;
           if(page){
               $("#index_Icon").css('color','red');
           }
    });
        var btnFn=function() {};
        var user_name,sel_cloud,pwd1,pwd2,super_user,first_name;
        $("#submit").click(function(){
            user_name =$.trim($("input[name='user_name']").val());
            first_name =$.trim($("input[name='first_name']").val());
            phone =$.trim($("input[name='phone']").val());
            sel_cloud =$.trim($("#example-onDeselectAll").val());
            super_user =$.trim($("#super_user").val());
            if(!user_name){
                AlarmWarning("请输入云平台管理员名称!",btnFn);
            }
            else if(!sel_cloud){
                AlarmWarning("请选择云平台!",btnFn);
            }
              else{
               query()
            }
        });

        function query(){
            $.ajax({
                url:"/adminbd/add_user",
                data:{user_name:user_name, super_user:super_user,first_name:first_name,phone:phone,sel_cloud:sel_cloud,csrfmiddlewaretoken:'{{ csrf_token }}'},
                type:"POST",
                success:function(data) {
                    var btnSn=function() {
                        window.location.href = '/adminbd/user_list';
                    };
                    if(data.res == 1){
                        SuccessWarning("添加成功!",btnSn);
                    }else if(data.res == 2 ){
                        ErrorWarning("用户名已存在!",btnFn);
                        window.location.href = '/adminbd/add_user';
                    }else{
                        ErrorWarning("添加失败!",btnFn);
                    }
                },
                error:function() {
                    ErrorWarning("服务器错误!",btnFn);
                }
            })
        }
    </script>
    {% endblock %}