<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>License管理平台</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../../static/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
      <!-- Morris Chart Styles-->
    <link href="../../static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../../static/assets/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-multiselect.css" type="text/css"/>
    <style>
        .form-group input{height: 2rem;padding: 0.5rem 1rem 0rem 1rem;}
        .form-group label{padding: 0rem 1rem 0.2rem 1rem;}
        .multiselect{clear: both}
        .multiselect-selected-text{float: left;}
        .caret{float: right;margin-top: 6px;}
        #license_code .form-group{margin-bottom: 0;}
        .multiselect-container .input-group .form-control{height: 29px;width: 190px;border: 1px solid #ccc;}
        .multiselect-container .input-group .input-group-addon{}
        .multiselect-container .input-group .input-group-btn .multiselect-clear-filter{box-shadow: inherit;height: 37px;}
        .example-onDeselectAll .multiselect-container li a input{margin: 0;}
        .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
            margin: 0;
        }
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked{opacity:1;margin: 0;right: 0;top: 4px; left: 10px;}

    </style>
</head>
<body>
    <nav class="navbar navbar-default top-navbar" style="padding: 0 15px 0 0;" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" style="background:#1f2837" href="index.html">
                <img src="../../static/images/logo-w.png" />
            </a>
            <div id="sideNav" href="">
                <i class="material-icons dp48">toc</i>
            </div>
        </div>
        <ul class="nav navbar-left">
            <li>
                <a href="/adminbd/index.html" style="padding-top: 20px;">
                   <b style="font-size:15px"> License管理平台</b>
                </a>
            </li>
        </ul>
           <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-download fa-fw"></i>
                          <b>下载</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                          {% if is_superuser %}
                        <li><a style="padding:21px 0 0 15px " href="/adminbd/download_license_client_file">License客户端文件</a></li>
                        <li><a style="padding:21px 0 15px 15px" href="/adminbd/download_license_usage_file">License帮助文档</a></li>
                         {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <b>{{ username }}</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="padding:21px 0 0 15px" href="/adminbd/modify_password"><i class="fa fa-gear fa-fw"></i>修改密码</a></li>
                        <li><a style="padding:21px 0 15px 15px" href="/adminbd/license_logout"><i class="fa fa-sign-out fa-fw"></i>退出</a></li>
                    </ul>
                </li>
           </ul>
    </nav>
    <!-- Dropdown Structure -->
   <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation"  style="height: 85%;">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                 <li>
                    <a class="waves-effect waves-dark" href="/adminbd/license_yun.html"><i class="fa fa-indent"></i> 云平台列表</a>
                </li>
                <li>
                    <a class=" waves-effect waves-dark" href="index.html"><i class="fa fa-dashboard"></i> License列表</a>
                </li>
                {% if is_superuser %}
                    <li>
                        <a class="active-menu waves-effect waves-dark" href="/adminbd/user_list.html"><i class="fa fa-user"></i> 用户列表</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="copyright" style="position: absolute;left: 0;bottom: 20px;z-index:100;">
                <li style="font-size: 12px;">
                    上海博达通信数据有限公司版权所有©2017
                </li>
            </ul>
        </div>
    </nav>
  <!-- /. NAV SIDE  -->
    <div id="page-wrapper" class="page-wrapper" style="top: 60px;">
   <div class="header" style="opacity: 0; padding-bottom:3px;"></div>

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <form  role="form" id="licenseAdd" class="form-horizontal" action="" method="post" onsubmit="return false" >
                     {% csrf_token %}
                    <div class="form-horizontal" id="license_code" style="background-color: #fff;padding-bottom: 13px;">
                        <div class="form-group" style="padding-top: 20px;">
                            <label class="col-sm-3 control-label" for="user_name" >云平台管理员:</label>
                            <div class="col-sm-4">
                                <input style="padding-right:0;padding-left: 0; " placeholder="管理员名称" required type="text" class="form-control" name="user_name" id="user_name" >
                            </div>
                        </div>
                        <div class="form-group superUsers">
                                <label class="col-sm-3 control-label" for="super_user" >是否为超级用户:</label>
                                <div class="col-sm-4">
                                    <select onchange="func()" class="form-control" id="super_user" name="super_user" >
                                        <option id="bao-month" value="0">否</option>
                                        <option id="bao-month" value="1">是</option>
                                    </select>
                                </div>
                            </div>
                        <div class="form-group list-select" style="margin-top: 15px; ">
                            <label class="col-sm-3 control-label" for="sel_cloud" >选择管理的云平台:</label>
                            <div class="col-sm-4">
                                <select id="example-onDeselectAll" multiple="multiple">
                                    {% for cloudInfo in cloudInfos %}
                                        <option id="bao-month" value="{{ cloudInfo.id }}">{{ cloudInfo.cloudName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="submit" class="btn btn-success" style="margin-left:50px;margin-bottom: 10px;">提交</button>
                            <a style="margin-bottom: 10px;margin-right:50px;" href="javascript:history.back()" class="btn btn-default btn-single pull-right">返回</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
   <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../static/js/jquery.3.2.1.js"></script>
	<!-- Bootstrap Js -->
    <script src="../../static/assets/js/bootstrap.min.js"></script>
	<script src="../../static/assets/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap-multiselect.js"></script>
    <!-- Metis Menu Js -->
    <script src="../../static/assets/js/jquery.metisMenu.js"></script>
    <script src="../../static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../../static/assets/js/morris/morris.js"></script>
	<script src="../../static/assets/js/easypiechart.js"></script>
	<script src="../../static/assets/js/easypiechart-data.js"></script>
    <script src="../../static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="../../static/assets/js/easydialog.min.js"></script>

    <!-- Custom Js -->
    <script src="../../static/assets/js/custom-scripts.js"></script>
    <script>

       $(document).ready(function() {
           $('#example-onDeselectAll').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                selectAllJustVisible: false,
                selectAllText:"选择全部",
                nonSelectedText:"请选择云平台",
                allSelectedText:"全部选择云平台",
                nSelectedText:"云平台",

                buttonWidth: '100%',
                maxHeight: 240,
                numberDisplayed: 1,
                onDeselectAll: function() {
                    //alert('onDeselectAll triggered!');
                }
        });
    });
        var btnFn=function() {};
        var user_name,sel_cloud,pwd1,pwd2,super_user;
        $("#submit").click(function(){
            user_name =$.trim($("input[name='user_name']").val());
            sel_cloud =$.trim($("#example-onDeselectAll").val());
            super_user =$.trim($("#super_user").val());
            if(!user_name){
                AlarmWarning("请输入云平台管理员名称!",btnFn);
            }
            else if(!sel_cloud){
                AlarmWarning("请选择云平台!",btnFn);
            }
              else{
               query()
            }
        });

        function query(){
            $.ajax({
                url:"/adminbd/add_user",
                data:{user_name:user_name, super_user:super_user,sel_cloud:sel_cloud,csrfmiddlewaretoken:'{{ csrf_token }}'},
                type:"POST",
                success:function(data) {
                    var btnSn=function() {
                        window.location.href = '/adminbd/user_list';
                    };
                    if(data.res == 1){
                        SuccessWarning("添加成功!",btnSn);
                    }else if(data.res == 2 ){
                        ErrorWarning("用户名已存在!",btnFn);
                        window.location.href = '/adminbd/add_user';
                    }else{
                        ErrorWarning("添加失败!",btnFn);
                    }
                },
                error:function() {
                    ErrorWarning("服务器错误!",btnFn);
                }
            })
        }
    </script>
    <script src="../../static/js/ie.js"></script>

</body>
</html>