{% extends "common/common.html" %}
    {% block page-inner %}
    <style>
        .table>thead>tr>th{
            font-weight: bold;
            white-space: nowrap;
        }
        .table>tbody>tr>td{
            white-space: nowrap;
            vertical-align: middle;
            font-size: 14px;
        }
    </style>
        <div class="panel">
                <div class="panel-heading">
                    <h3>用户列表</h3>
                    {% if is_superuser %}
                        <div class="col-sm-2 right">
                             <a href="/adminbd/add_user" class="btn btn btn-turquoise text-right" style="float: right;margin-top:-30px">
                                 <span class="fa fa-plus-square"></span> 添加管理员
                             </a>
                        </div>
                    {% endif %}
                    <hr/>
                </div>
                <div class="panel-body">
                    <div class="clearfix">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>用户名</th>
                                <th>管理员等级</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 15px;">
                        {% if is_superuser %}
                            {% for user in userSets %}
                                     <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                         {% if user.is_superuser == 0%}
                                            <td>销售用户</td>
                                         {% elif user.is_superuser == 1 %}
                                             <td>超级用户</td>
                                         {% else %}
                                              <td>工厂用户</td>
                                         {% endif %}
                                        <td>
{#                                            <div class="btn-group">#}
{#                                                <a href="{% url 'adminbd:add_user' %}?id={{ user.id }}"#}
{#                                                   class="btn btn-white btn-sm btn-icon ">#}
{#                                                    修改#}
{#                                                </a>#}
{#                                                <a href="javascript:void(0);" onclick="delAp({{ user.id }})"#}
{#                                                   class="btn btn-white btn-sm btn-icon ">#}
{#                                                   删除#}
{#                                                </a>#}
                                                <a href="{% url 'adminbd:user_cloud' %}?id={{ user.id }}"
                                                    class="btn btn-white btn-sm btn-icon" style="height: 28px">
                                                   查看关联云平台
                                                </a>
                                        </td>
                                     </tr>
                            {% endfor %}
                        {% else %}
                            <th>暂无权限查看用户列表，请联系超级用户</th>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <script>
        function selectCloud(){
            var cloud_id = $('#cloud_info option:selected').val();
            window.location.href = "/adminbd?cloud_id="+cloud_id;
        }
    </script>


    {% endblock %}