{% extends "wechatfans/common/common.html" %}
{% load i18n %}
{% load static %}
{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <div>提现记录</div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="" style="float: left;padding: 0">成功提现总计 : </label>
                <span><strong class="special-color" style="padding-left:10px;">{{ totalsuc }} </strong>元</span>
            </div>
            <div id="apply_records_reload">
                <table id="apply_records" class="table table-condensed table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
{#                            <th>用户名</th>#}
                            <th>提现金额(元)</th>
                            <th>提现时间</th>
                            <th>提现方式</th>
                            <th>账号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="middle-align">
                    {% if records %}
                        {% for record in recordslist %}
                        <tr>
{#                            <td>{{ record.username }}</td>#}
                            <td>{{ record.getmoney }}</td>
                            <td>{{ record.applyfortime }}</td>
                            <td>{% if record.paymentmode == 1 %}支付宝{% else %}银行卡{% endif%}</td>
                            <td>{% if record.paymentmode == 1 %}{{ record.alipaynum }}{% else %}{{ record.banknum }}{% endif%}</td>
                            <td>
                                {% if record.paymentresult == 103 %}<span class="special-color">审核中...</span>
                                {% elif record.paymentresult == 101 %}提现成功
                                {% elif record.paymentresult == 102 %}提现失败{% endif%}
                            </td>
                            <td>
                                <a onclick="closerecord({{ record.id }})" {% if record.paymentresult != 103 %}disabled {% endif %} class="btn btn-default btn-xs">关闭</a>
                            </td>
                            <script>
                                function closerecord(id){
                                    var btnSn=function(){
                                        $.ajax({
                                            url: "wechatfans/closerecord",
                                            method: 'GET',
                                            dataType: 'json',
                                            data: {'id':id},
                                            success: function(result){
                                                if (result.result==1){
                                                    layer.msg('已关闭!',function(){
                                                        window.location.reload()
                                                    });
                                                }else{
                                                    layer.msg('操作失败!')
                                                }
                                            },
                                            error:function(result){
                                                layer.msg('error')
                                            }
                                        });
                                    };
                                    layer.confirm('确定要关闭此申请吗?',{title:'确认'},btnSn)
                                }
                            </script>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>暂无提现记录</tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <a href="javascript:history.back()" class="btn btn-default" style="float: right">返回</a>
            </div>
        </div>
    </div>

{% endblock %}