{% extends "wechatfans/common/common.html" %}
{% load i18n %}
{% load static %}
{% block main %}
    <script>
        $(function(){
            //密码
            $.validator.addMethod('password', function (value) {
            return /^[a-zA-Z]{1}([\@A-Za-z0-9\!\#\$\%\^\&\*\.\~\_\[\]\{\}\:\<\>\?\|\(\)\@\`]){4,19}$/.test(value);
            }, "输入5-20个，以字母开头");
            //表单验证
            $("form#takemoney").validate({
                rules: {
                    password: {
                        required: true
                    },
                    password_new1: {
                        required: true,
                        password:"请输入5-20个，以字母开头"
                    },
                    password_new2: {
                        required: true,
                        equalTo: "#password_new1"
                    }
                },
                messages: {
                    password: {
                        required: "必填"
                    },
                    password_new1: {
                        required: "必填"
                    },
                    password_new2: {
                        required: "必填",
                        equalTo: "两次输入密码不一致"
                    }
                },
                submitHandler: function(form) {
                    var password=$('#password').val();
                    var password_new1=$('#password_new1').val();
                    $.ajax({
                        url: "/wechatfans/modify_password",
                        method: 'POST',
                        dataType: 'json',
                        data: {'password':password,'password_new1':password_new1},
                        success: function(result){
{#                            alert(result.res)#}
                            if (result.res==1){
                                layer.msg('修改成功!',function(){
                                    window.location.href = "/adminbd/license_login.html"
                                });
                            }else if(result.res==0){
                                layer.msg('用户名不存在!')
                            }else if(result.res==2){
                                layer.msg('旧密码输入错误!')
                            }else if(result.res==3){
                                layer.msg('新密码不能与旧密码相同!')
                            }
                        },
                        error:function(result){
                            layer.msg('error')
                        }
                    });

                }
            });
        });
    </script>
    <div class="panel">
        <div class="panel-heading">
            <div>修改密码</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" id="takemoney" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">旧密码 ：</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="请输入旧密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_new1" class="col-sm-2 control-label">新密码 ：</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" name="password_new1" id="password_new1" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_new2" class="col-sm-2 control-label">确认新密码 ：</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" name="password_new2" id="password_new2" placeholder="请再次输入新密码">
                    </div>
                </div>
                <div class="form-group button-group">
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-info btn-tixian" style="padding: 6px 30px;" value="保存">
                    </div>
                    <div class="col-sm-2" style="float: right">
                        <a href="javascript:history.back()" class="btn btn-default" style="float: right">返回</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}