{% extends "wechatfans/common/common.html" %}
{% load i18n %}
{% load static %}

{% block sidebar-menu %}{% endblock %}

{% block page-right %}
{% block main %}
    <script>
        $(function(){
            //自定义规则方法
            //用户名
            $.validator.addMethod('username', function (value) {
            return /^\s*[a-zA-Z]{1}([a-zA-Z0-9]|[_]){2,19}\s*$/.test(value);
            }, "输入3-20个，以字母开头，可以字母、数字、_");
            //密码
            $.validator.addMethod('password', function (value) {
            return /^[a-zA-Z]{1}([\@A-Za-z0-9\!\#\$\%\^\&\*\.\~\_\[\]\{\}\:\<\>\?\|\(\)\@\`]){4,19}$/.test(value);
            }, "输入5-20个，以字母开头");
            //表单验证
            $("form#register").validate({
                rules: {
                    username: {
                        required: true,
                        username:"请输入3-20个，以字母开头，可以字母、数字、_"
                    },
                    password: {
                        required: true,
                        password:"请输入5-20个，以字母开头"
                    },
                    passwordagain: {
                        required: true,
                        equalTo: "#password"
                    }
                },
                messages: {
                    username: {
                        required: "必填"
                    },
                    password: {
                        required: "必填"
                    },
                    passwordagain: {
                        required: "必填",
                        equalTo: '{% trans "两次输入密码不一致" %}'
                    }
                },
                submitHandler: function(form) {
                    var username=$('#username').val();
                    var password=$('#password').val();
                    var shopid=$('#shopid').val();
                    var cloudid=$('#cloudid').val();
                    $.ajax({
                        url: "/wechatfans/register",
                        method: 'GET',
                        dataType: 'json',
                        data: {'username':username,'password':password,'shopid':shopid,'cloudid':cloudid},
                        success: function(result){
                            if (result.res==0){
                                layer.msg('注册成功!')
                            }else if(result.res==1){
                                layer.msg('云商城已存在,不要重复注册!')
                            }else if(result.res==2){
                                layer.msg('用户名已存在!')
                            }
                        },
                        error:function(result){
                            layer.msg('error')
                        }
                    });

                }
            });
        });
    </script>
<div class="container">
    <div class="panel panel-default" style="margin-top: 5%">
        <div class="panel-heading">
            <h3 style="margin: 20px;text-align: center">云商城注册</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" id="register" method="get" style="margin-left:5%;">
{#                {% csrf_token %}#}
                <div class="form-group">
                    <label for="username" class="col-sm-4 control-label">用户名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">密码</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordagain" class="col-sm-4 control-label">确认密码</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="passwordagain" id="passwordagain" placeholder="请再次输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cloudid" class="col-sm-4 control-label">云平台编号</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="cloudid" id="cloudid" placeholder="请输入云平台编号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="shopid" class="col-sm-4 control-label">商铺id</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="shopid" id="shopid" placeholder="请输入商铺id">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-info btn-tixian" style="padding: 6px 30px;" value="注册">
                    </div>
                    <div class="col-sm-2" style="float: right">
                        <a href="javascript:history.back()" class="btn btn-default">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}