{% extends "wechatfans/common/common.html" %}
{% load i18n %}
{% load static %}
{% block main %}
    <style>
    .data-inline{
        display: inline-flex;
        margin-bottom: 25px;
    }
    .data-inline .data-table{
        display: table;
        height: 60px;
        background-color: #fff;
        margin-right: 25px;
        text-align: center;
        width: 160px;
    }
    .data-inline .data-table div{
        display: table-cell;
        width:35px;
        background-color: #00838f
    }
    .data-inline .data-table dl{
        margin: 0;
        padding: 10px 0;
    }
    </style>
    <div class="data-inline">
        <div class="data-table">
            <div style="background-color: #FF8762"></div>
            <dl>
                <span>今日收益￥</span>
                <dt style="color: #FF8762">{{ todayprofit }}</dt>
            </dl>
        </div>
        <div class="data-table">
            <div style="background-color: #56BDDE"></div>
            <dl>
                <span>总收益￥</span>
                <dt style="color: #56BDDE">{{ totalprofit }}</dt>
            </dl>
        </div>
        <div class="data-table">
            <div style="background-color: #B198DC"></div>
            <dl>
                <span>今日粉丝(人)</span>
                <dt style="color: #B198DC">{{ todayfans }}</dt>
            </dl>
        </div>
        <div class="data-table">
            <div style="background-color: #FEC400"></div>
            <dl>
                <span>总粉丝(人)</span>
                <dt style="color: #FEC400">{{ totalfans }}</dt>
            </dl>
        </div>
        <div class="data-table">
            <div style="background-color: #71CE34"></div>
            <dl>
                <span>可提现￥</span>
                <dt style="color: #71CE34">{{ takemoney }}</dt>
            </dl>
        </div>
    </div>
    <div style="padding: 10px 0;float: right;margin-right: 50px;">
        <a href="takemoney.html" class="btn btn-info btn-tixian" style="padding:9px 20px;top: -10px;">提现</a>
    </div>
    
    <div class="data-chart">
        <div class="panel">
            <div class="panel-heading">
                <span>收益统计</span>
                <div style="width: 25%;float: right;top: -10px;position: relative" class="input-group">
                    <input class="form-control" type="text" placeholder="请选择日期范围" name="daterange" id="daterange">
                    <span class="input-group-addon btn">查询</span>
                </div>
            </div>
            <div class="panel-body">
                <div id="main" style="height:400px;"></div>
            </div>
            <script type="text/javascript">
                $(function() {
                    //日期范围选择器
                    var daterange1=$('#daterange');
                    daterange1.daterangepicker({
                        autoUpdateInput: false,
                        locale: {format: 'YYYY/MM/DD'}
                    });
                    daterange1.on('apply.daterangepicker', function(ev, picker) {
                        $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
                    });                                                  //apply事件，格式如2017/05/04 - 2017/06/03
                    daterange1.on('cancel.daterangepicker', function() {
                        $(this).val('');                                //清除事件
                    });
                });

                //折线图
{#                $.ajax({#}
{#                    type:"GET",#}
{#                    url:"wechatfans:showfans",#}
{#                    data:{'startDate': startDate, 'endDate': endDate },#}
{#                    success:function(arg){#}
                        // 基于准备好的dom，初始化echarts实例,定义折线图显示的位置对象
                        var myChart = echarts.init(document.getElementById('main'));
                        // 指定图表的配置项和数据
                        var option = {
                            title: {
                                //text: '粉丝收益统计'
                            },
                            //工具提示
                            tooltip: {
                                trigger: 'axis'
                            },
                            //图例
                            legend: {
                                data:['粉丝量','收益量']
                            },
                            //网格位置
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    //保存为图片
                                    saveAsImage: {}
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: ['周一','周二','周三','周四','周五','周六','周日']
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    name:'粉丝量',
                                    type:'line',
                                    stack: '总量',
                                    data:[120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name:'收益量',
                                    type:'line',
                                    stack: '总量',
                                    data:[220, 182, 191, 234, 290, 330, 310]
                                }
                            ]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
{#                    }#}
{#                });#}





            </script>
        </div>

    </div>
</div>

{% endblock %}