{% extends "wechatfans/common/common.html" %}
{% load i18n %}
{% load static %}
{% block main %}
    <script>
        //拒绝申请
        function refuserecord(id){
            var result='refuse';
            var btnSn=function(){
                $.ajax({
                    url: "/wechatfans/getchildapply",
                    method: 'POST',
                    dataType: 'json',
                    data: {'applyrecordid':id,'result':result,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success: function(result){
                        if (result.res==2){
                            layer.msg('已拒绝!',function(){
                                window.location.reload()
                            });
                        }else{
                            layer.msg('操作失败!')
                        }
                    },
                    error:function(result){
                        layer.msg('error')
                    }
                });
            };
            layer.confirm('确定拒绝此申请吗?',{title:'确认'},btnSn)
        }
        //通过申请
        function passrecord(id){
            var result='pass';
            var btnSn=function(){
                $.ajax({
                    url: "/wechatfans/getchildapply",
                    method: 'POST',
                    dataType: 'json',
                    data: {'applyrecordid':id,'result':result,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success: function(result){
                        if (result.res==0){
                            layer.msg('已通过!',function(){
                                window.location.reload()
                            });
                        }else{
                            layer.msg('操作失败!')
                        }
                    },
                    error:function(result){
                        layer.msg('error')
                    }
                });
            };
            layer.confirm('确定通过此申请吗?',{title:'确认'},btnSn)
        }
    $(function(){
        var getmoneyidlist=$('.getmoneyid');
        for(var i= 0;i<getmoneyidlist.length;i++){
            var before=getmoneyidlist[i].innerHTML;
            getmoneyidlist[i].innerHTML=before/100.00;
        }
    })
    </script>
    <div class="panel" id="child_list">
        <div class="panel-heading">
            <div>子商户申请提现记录</div>
        </div>
        <div class="panel-body">
            <div >
                <table id="" class="table table-condensed table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>子商户名称</th>
                            <th>提现金额(元)</th>
                            <th>提现时间</th>
                            <th>提现方式</th>
                            <th>账号</th>
                            <th>状态</th>
                            <th>处理</th>
                        </tr>
                    </thead>
                    <tbody class="middle-align">
                    {% if applyrecords103 %}
                        {% for record in applyrecords103 %}
                        <tr>
                            <td>{{ record.username }}</td>
                            <td class="getmoneyid">{{ record.getmoney }}</td>
                            <td>{{ record.applyfortime }}</td>
                            <td>{% if record.paymentmode == 1 %}支付宝{% else %}银行卡{% endif%}</td>
                            <td>{% if record.paymentmode == 1 %}{{ record.alipaynum }}{% else %}{{ record.banknum }}{% endif%}</td>
                            <td>
                                {% if record.paymentresult == 103 %}<span class="special-color">待审核</span>
                                {% elif record.paymentresult == 101 %}提现成功
                                {% elif record.paymentresult == 102 %}提现失败{% endif%}
                            </td>
                            <td>
                                <a onclick="passrecord({{ record.id }})" {% if record.paymentresult != 103 %}disabled {% endif %} class="btn btn-default btn-xs">通过</a>
                                <a onclick="refuserecord({{ record.id }})" {% if record.paymentresult != 103 %}disabled {% endif %} class="btn btn-default btn-xs">拒绝</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>暂无记录</tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <a href="javascript:history.back()" class="btn btn-default" style="float: right">返回</a>
            </div>
        </div>
    </div>

{% endblock %}