{% extends "wechatfans/common/common.html" %}
{% load i18n %}
{% load static %}
{% block main %}
    <style>
    .radio-inline{
        height: 34px;
        padding-right: 20px;
    }
    .radio-inline span{
        padding:8px 10px;
        border-radius: 5px;
        border: 1px solid #999;
    }
    .radio-inline span.active{
        border-color: #0099cc;
        color: #fff;
        background-color:#0099cc;
    }
    </style>
    <script>
        $(function(){
            //支付宝提现or银行提现
            $('#type2').click( function () {
                $('.bankpay').show();
                $('.alipay').hide();
                $(this).next('span').addClass('active');
                $('#type1').next('span').removeClass('active');
            });
            $('#type1').click( function () {
                $('.alipay').show();
                $('.bankpay').hide();
                $(this).next('span').addClass('active');
                $('#type2').next('span').removeClass('active');
            });
            //表单验证
            $("form#takemoney").validate({
                rules: {
                    alipay_name: {
                        required: true
                    },
                    alipaynum: {
                        required: true
                    },
                    company: {
                        required: true
                    },
                    bank_name: {
                        required: true
                    },
                    banknum: {
                        required: true,
                        digits:true,
                        rangelength:[19,19]
                    },
{#                    getmoney: {#}
{#                        required: true,#}
{#                        min:100,#}
{#                        max:{{ takemoney }}#}
{#                    }#}
                },
                messages: {
                    alipay_name: {
                        required: "必填"
                    },
                    alipaynum: {
                        required: "必填"
                    },
                    company: {
                        required: "必填"
                    },
                    bank_name: {
                        required: "必填"
                    },
                    banknum: {
                        required: "必填",
                        digits:"请输入正确的银行卡号",
                        rangelength:"请输入19位银行卡号"
                    },
{#                    getmoney: {#}
{#                        required: "必填",#}
{#                        min:"最小可提取金额为100元",#}
{#                        max:"最大可提取金额为"+{{ takemoney }}#}
{#                    }#}
                },
                submitHandler: function(form) {
                    var paymentmode=$('input[type="radio"]:checked').val();
                    var alipay_name=$('#alipay_name').val();
                    var alipaynum=$('#alipaynum').val();
                    var company=$('#company').val();
                    var bank_name=$('#bank_name').val();
                    var banknum=$('#banknum').val();
                    var takemoney="{{ takemoney }}";
        {#            alert(paymentmode+"////////"+getmoney)#}
{#                    console.log('company:',company,'bank_name:',bank_name,'banknum:',banknum)#}
                    $.ajax({
                        url: "/wechatfans/apply_for_withdrawal",
                        method: 'POST',
                        dataType: 'json',
                        data: {'paymentmode':paymentmode,'getmoney':takemoney,
                            'alipay_name':alipay_name,'alipaynum':alipaynum,
                            'company':company,'bank_name':bank_name,'banknum':banknum,'flag':'{{ flag }}'},
                        success: function(result){
                            if (result.result==1){
                                layer.msg('申请成功!')
                            }else if(result.result==2){
                                layer.msg('正在审核,请不要重复提交申请!')
                            }
                        },
                        error:function(result){
                            layer.msg('error')
                        }
                    });

                }
            });
        });
    </script>
    <div class="panel">
        <div class="panel-heading">
            <div>提取可用余额到个人账户</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" id="takemoney" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="totalmoney" class="col-sm-2 control-label">可提现余额 ：</label>
                    <div class="col-sm-3">
                        <span class="btn special-color" id="totalmoney" style="cursor: default;">
                            <strong>{{ takemoney }} 元</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="paymentmode" class="col-sm-2 control-label">提现方式 ：</label>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" name="paymentmode" id="type1" value="1" checked><span class="active" style="">支付宝</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="paymentmode" id="type2" value="2"><span>银行卡</span>
                        </label>
                    </div>
                </div>
                <div class="alipay">
                    <div class="form-group">
                        <label for="alipay_name" class="col-sm-2 control-label">姓名 ：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="alipay_name" id="alipay_name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alipaynum" class="col-sm-2 control-label">支付宝账号 ：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="alipaynum" id="alipaynum" placeholder="支付宝账号">
                        </div>
                    </div>
                </div>
                <div class="bankpay" hidden>
                    <div class="form-group">
                        <label for="company" class="col-sm-2 control-label">公司名称 ：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="company" id="company" placeholder="公司名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="banknum" class="col-sm-2 control-label">银行卡号 ：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="banknum" id="banknum" placeholder="银行卡号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bank_name" class="col-sm-2 control-label">开户行 ：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="bank_name" id="bank_name" placeholder="开户行">
                        </div>
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label for="getmoney" class="col-sm-4 control-label">提现金额 (元)</label>#}
{#                    <div class="col-sm-4">#}
{#                        <input type="text" class="form-control" name="getmoney" id="getmoney" placeholder="提现金额">#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group button-group">
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-info btn-tixian" style="padding: 6px 30px;" value="申请提现">
                    </div>
                    <div class="col-sm-2" style="float: right">
                        <a href="javascript:history.back()" class="btn btn-default" style="float: right">返回</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}