<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>云商城</title>

    {% load i18n %}
    {% load staticfiles %}
    <!-- Styles-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- jQuery Js -->
    <script src="{% static 'js/jquery.3.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <style>
        .btn-tixian{
            background-color: #2ddad1;
            border-color: #2ddad1;
        }
        .btn-tixian:hover{
            background-color: #41c5bf;
            border-color: #41c5bf;
        }
        label.error{
            
        }
    </style>
</head>
<body>
    <script>
        $(function(){
            //支付宝提现or银行提现
            $('#type2').click( function () {
                $('.bankpay').show();
                $('.alipay').hide();
            });
            $('#type1').click( function () {
                $('.alipay').show();
                $('.bankpay').hide();
            });

            //表单验证
            var paymentmode=$('#paymentmode').checked.val();
            var alipay_name=$('#alipay_name').val();
            var alipaynum=$('#alipaynum').val();
            var company=$('#company').val();
            var bank_name=$('#bank_name').val();
            var banknum=$('#banknum').val();
            var getmoney=$('#getmoney').val();
            $("form#takemoney").validate({
                rules: {
                    alipay_name: {
                        required: true
                    },
                    alipaynum: {
                        required: true
                    },
                    company: {
                        required: true
                    },
                    bank_name: {
                        required: true
                    },
                    banknum: {
                        required: true
                    },
                    getmoney: {
                        required: true,
                        digits: true,
                        max:{{ takemoney }}
                    }
                },
                messages: {
                    alipay_name: {
                        required: "必填"
                    },
                    company: {
                        required: "必填"
                    },
                    bank_name: {
                        required: "必填"
                    },
                    banknum: {
                        required: "必填"
                    },
                    getmoney: {
                        required: "必填",
                        digits: "请填入数字",
                        max:"最大可提取金额为"+{{ takemoney }}
                    }
                },
                submitHandler: function(form) {
                    $.ajax({
                        url: "/wechatfans/takemoney",
                        method: 'POST',
                        dataType: 'json',
                        data: {},
                        success: function(result){
                            if (result.res==1){

                            }
                        }
                    });
                }
            });
        })
    </script>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3>提取可用余额到个人账户</h3>
        </div>
        <hr/>
        <div class="panel-body">
            <form class="form-horizontal" action="" id="takemoney" method="post">
                <div class="form-group">
                    <label for="totalmoney" class="col-sm-4 control-label">可提现余额</label>
                    <div class="col-sm-4">
                        <span class="btn" id="totalmoney" style="cursor: default;color: #2ddad1">
                            <strong>{{ takemoney }} 元</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="paymentmode" class="col-sm-4 control-label">提现方式</label>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" name="paymentmode" id="paymentmode" value="1" checked>支付宝
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="paymentmode" id="paymentmode" value="2">银行卡
                        </label>
                    </div>
                </div>
                <div class="alipay">
                    <div class="form-group">
                        <label for="alipay_name" class="col-sm-4 control-label">姓名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="alipay_name" id="alipay_name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alipaynum" class="col-sm-4 control-label">支付宝账号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="alipaynum" id="alipaynum" placeholder="支付宝账号">
                        </div>
                    </div>
                </div>
                <div class="bankpay" hidden>
                    <div class="form-group">
                        <label for="company" class="col-sm-4 control-label">公司名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="company" id="company" placeholder="公司名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="banknum" class="col-sm-4 control-label">银行卡号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="banknum" id="banknum" placeholder="银行卡号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bank_name" class="col-sm-4 control-label">开户行</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="bank_name" id="bank_name" placeholder="开户行">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="getmoney" class="col-sm-4 control-label">提现金额 (元)</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="getmoney" id="getmoney" placeholder="提现金额">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <a type="submit" class="btn btn-info btn-tixian" style="padding: 6px 30px;">申请提现</a>
                    </div>
                    <div class="col-sm-2" style="float: right">
                        <a href="javascript:history.back()" class="btn btn-default">返回</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

</body>
</html>